[2019-03-22 22:15] johnnyq opened #1 "Alerts"
Get Alerts for various things fex.

- domain expire start the alert at 30 days
- overdue invoices
- client payed online
- software/application license expire start the alert at 30 days
- tickets that need attention and have not been attentive to
- account balance reaches below a level specified in settings
- login password that are set to expire start the alert 14 days prior

[2019-03-22 22:17] johnnyq opened #2 "Recurring Invoices"
Allow Invoices to Recur on certain dates

[2019-03-22 22:20] johnnyq opened #3 "Invoice, Payments, Overdue Email Notifications"
Send an email when invoice is marked partial or paid with the payment the client provided and remaining balances. also resend past over due invoices every 14 days

[2019-03-22 22:23] johnnyq opened #4 "Optionally Link Logins with Vendors, Assets or Applications"
When a login is created in the modal there should be a radio box that states link password with None (Default), Vendor, Asset, Application. When clicked a select box will appear for the items based off the selected table.

[2019-03-22 22:26] johnnyq opened #5 "Print Client Info"
Option to Print everything on the client in a nice document which can be printed out on paper emailed as a pdf to the client or printed to a PDF. Its nice to give this to a client so they have the information as well.

[2019-03-22 22:27] johnnyq opened #6 "Global Search"
Create a Global search on the top nav to search everything in AJAX.

[2019-03-22 22:29] johnnyq opened #7 "Interface Cleanup: Remove sorting on action title and move sort directly after the table title"
Remove sorting on Action title move sort directly after the table title

[2019-03-22 22:31] johnnyq opened #8 "Move to AdminLTE v3 when next update occurs"
This will give it some interface spice

[2019-03-22 22:32] johnnyq commented on #4
Also display a column with a key next to vendors, assets, and applications that have a password linked to them. When clicked it brings up a modal with the username and password for that record.

[2019-03-22 22:35] johnnyq opened #9 "Nav Menu Items not adding active class when clicked"
This goes for the side menu and the client nav menu, just add some javascript that reads the url matches it and marks it as active

[2019-03-22 22:37] johnnyq opened #10 "Modal Forms not honoring autofocus fields"
It seems like it initially highlights the autofocus textbox then disappears. This could be a bootstrap / SBAdmin v1 bug

[2019-03-22 22:40] johnnyq opened #11 "Add created_at, updated_at, deleted_at, created_by, updated_by fields for all the tables"
This will keep track of the "Who What When" use MySQL Timestamp for this

[2019-03-22 22:43] johnnyq opened #12 "Create a Dashboard - Ideas?"
Throw some ideas here... Go!

[2019-03-22 22:44] johnnyq opened #13 "Make Reports Work"
Reports are not working its just an HTML markup right now

[2019-03-22 22:45] johnnyq opened #14 "Add a Markdown WYSIWYG for client Notes"
This will add some nice markup for client notes

[2019-03-22 22:47] johnnyq opened #15 "File Preview View for Client Attachments"
This will give a thumbnail of each file that is attached to the client profile.

[2019-03-22 22:48] johnnyq opened #16 "Address Links should open with Apple Maps for iPhone when clicked"
Address Links should open with Apple Maps for iPhone when clicked. This will be a handy feature for when you need to get GPS directions to a client from your phone.

[2019-03-22 22:51] johnnyq opened #17 "First Time Install Script"
First time install to allow you to choose the database host, database, username and password, as well as setting up your first user and setting up your company information: company name, address, phone, email, logo -- As well as create the tables for the application.

[2019-03-22 22:53] johnnyq opened #18 "Ticketing System"
Build an integrated ticketing system please...

[2019-03-22 22:58] johnnyq opened #19 "Client Applications Possible rename?"
Client Applications is used to manage Software and their licenses for the client, either it be a web app or a desktop app for example Office 365 Desktop App. Possible new names could be Software Apps, Program. Im not sure what to name it. I know App is pretty much the gold nugget. I need some advise.

[2019-03-22 23:02] johnnyq opened #20 "Add General Settings"
Possible Settings to use

- Timezone
- Records per page
- Logout idle time
- Color Theme
- Logo
- Invoice reminder
- Company Name
- Company Address
- Company Phone
- Company Email
- Company Website

[2019-03-22 23:02] johnnyq opened #21 "Two Factor Authentication (2FA) Support"
So nice for security

[2019-03-22 23:04] johnnyq opened #22 "Client Navbar to one button on mobile device"
There are just too many items on the Client Navbar so on col-sm devices make it one button

[2019-03-22 23:07] johnnyq opened #23 "Do not display Client Nav Tab if records = 0"
Title Says it all

[2019-03-22 23:10] johnnyq opened #24 "Print Dymo Asset Tags"
This will allow you to print asset tags for clients devices using the DymoJS library

[2019-03-22 23:15] johnnyq opened #25 "Integrate CRM with Asterisk - Phone Call Logs"
Grab incoming and outgoing calls on asterisk PBX and match them up with the CRM to display caller id based on the client or client_contact that is calling you -- As well as logging the phone calls under the client with the start time, end time and duration. Calls that are logged can be assigned to a ticket for easy reference in the future. We can also use the CRM to integrate with asterisk phone b

[2019-03-22 23:17] johnnyq opened #26 "Asterisk Integration: Click to Call"
When you click a phone number it will dial the logged in users extension number. When the user picks up the phone it will dial the number they clicked on.

[2019-03-22 23:21] johnnyq opened #27 "Integrate Draw.io"
Integrate Draw.io for customers to create quick network diagrams, phone system flows, Organization Hierarchies etc and store them in client attachments.

[2019-03-22 23:22] johnnyq opened #28 "Feature Request: Integrate Stripe Payment processing"
Integrate Stripe Payment processing so customers can pay with a credit card

[2019-03-22 23:25] johnnyq opened #29 "Add a Calendar"
So you can schedule Jobs, as well as see alerts for upcoming invoice dues, domain expires, application license expires, recurring invoices, etc

[2019-03-22 23:28] johnnyq opened #30 "CardDAV Integration"
This could be useful to sync Client Information with your address book on your phone or your email address book, or any CardDAV client for that matter.

[2019-03-22 23:29] johnnyq opened #31 "CalDAV Integration"
Integrate possible calendar sync with CalDAV app, phone calendar, outlook, Google Calendar, Nextcloud Calendar etc)

[2019-03-22 23:31] johnnyq opened #32 "User Avatar Support"
This will add a touch of friendliness to the app

[2019-03-22 23:32] johnnyq opened #33 "Client Contact Photos"
This will allow you to upload photos of your contacts to easy identify them

[2019-03-22 23:33] johnnyq opened #34 "Make Invoices and Quotes Work Fully"
Invoices and Quotes are not working fully.

[2019-03-22 23:38] johnnyq opened #35 "Link Clients with Mileage"
Link Clients with Mileage

[2019-03-23 01:39] johnnyq commented on #32
Support has been added

[2019-03-23 01:39] #32 closed

[2019-03-23 03:58] johnnyq commented on #5
Add Print Client Info Capability, just need to add download pdf and print. Print and PDF should remove the sidebar and bread crumbs bar when print is hit.

[2019-03-23 04:22] johnnyq commented on #23
All Fixed 2b63681023de652928db528ae40d87856f66c09d

[2019-03-23 04:22] #23 closed

[2019-03-23 15:47] johnnyq commented on #5
Removed sidebar button and breadcrumbs from print view as well as added a print button commit bfa380c0996d806e6a1a553402dc30c8a06af1c6
Closing for now

[2019-03-23 15:47] #5 closed

[2019-03-30 15:22] johnnyq opened #36 "When you add a client entity fex a contact redirect to contacts and so on"
When you add a client entity fex a contact redirect to contacts and so on

[2019-03-30 15:23] johnnyq opened #37 "When tab is selected turn top right action into a combo button with a submenu"
for example when you click login tab the combo button will have a + which will add a contact and a submenu to do other tasks.

[2019-03-30 19:20] johnnyq commented on #4
34e6dde43bf7560e35f5b627494159843695f594
Done

[2019-03-30 19:20] #4 closed

[2019-03-30 19:46] johnnyq commented on #16
Done
f50bace9e9fae9d17c94117f5959926f16e0b474

[2019-03-30 19:46] #16 closed

[2019-03-30 19:59] johnnyq commented on #36
662bcc108c6a74fb3cdd5e510174b6ce5b04288b

Done

[2019-03-30 19:59] #36 closed

[2019-03-31 17:33] johnnyq commented on #12
357a8e909c4a2f7614087b9a471fbfee4131a1ba

done

[2019-03-31 17:33] #12 closed

[2019-04-08 03:56] johnnyq commented on #2
We just started working on this

[2019-04-08 03:57] johnnyq commented on #7
This is work in progress and is constant closing

[2019-04-08 03:57] #7 closed

[2019-04-08 03:59] johnnyq opened #38 "Finish Transfers and make them work"
Finish Transfers and make them work

[2019-04-08 04:04] johnnyq opened #39 "Create defined Products and Services"
Create a products table for flat prices to be used in invoices

[2019-04-08 04:28] johnnyq commented on #39
Done

[2019-04-08 04:28] #39 closed

[2019-04-08 04:37] johnnyq opened #40 "Add Account Balance on transfer account to and from select box"
Add Account Balance on transfer account to and from select box

[2019-04-08 05:18] johnnyq commented on #38
Done

[2019-04-08 05:18] #38 closed

[2019-04-08 14:58] johnnyq commented on #10
Looks like a bug with modals if you take the fade class out it works if you use the fade class it does not, I will be removing fade.

[2019-04-08 14:58] #10 closed

[2019-04-08 15:42] johnnyq commented on #40
Done added this to all account select forms

[2019-04-08 15:42] #40 closed

[2019-04-09 17:24] johnnyq commented on #34
Invoices work

[2019-04-09 17:24] #34 closed

[2019-04-09 17:25] johnnyq commented on #6
started this closing for now

[2019-04-09 17:25] #6 closed

[2019-04-10 13:46] johnnyq opened #41 "Implement PDF Invoice"
will possibly use mpdf to convert html into pdf

[2019-04-10 13:49] johnnyq opened #42 "Feature Request: Implement type ahead feature in Invoice items"
this will grab data from the products table as you type in the item box (Type ahead feature) Which will also Fill in the description and price from the products table to the Items table of the invoice/quote/recurring invoice

[2019-04-14 01:38] johnnyq commented on #41
Done

[2019-04-14 01:38] #41 closed

[2019-04-16 23:57] johnnyq commented on #2
Done

[2019-04-16 23:57] #2 closed

[2019-04-19 19:45] johnnyq commented on #1
Done

[2019-04-19 19:45] #1 closed

[2019-04-19 19:46] johnnyq commented on #3
being worked on as we speek

[2019-04-19 19:46] #3 closed

[2019-04-19 20:24] johnnyq opened #43 "Dashboard Items"
Domains Expiring within 30 Days

Invoices
    New Invoices
    Invoices close to due date
    Invoices Past Due
    Upcoming Recurring Invoices in the next 30 days

Clients Added
    Top Clients by zip code count
    Top Client by # of Invoices
    Top Client by amount payed
    Top Client by number of locations

Quotes Pending Approval

Top Most Traveled Locations

Recent Travels

Recent Transfer

[2019-04-19 20:26] johnnyq commented on #43
Maybe create a top nav for Different Dashboard Pieces

[2019-04-20 17:10] johnnyq commented on #14
Done

[2019-04-20 17:10] #14 closed

[2019-04-20 17:10] johnnyq commented on #14
we chose EasyMDE

[2019-04-23 19:17] johnnyq commented on #15
Done

[2019-04-23 19:17] #15 closed

[2019-04-23 19:18] johnnyq commented on #20
Done

[2019-04-23 19:18] #20 closed

[2019-04-23 19:44] johnnyq commented on #9
Done

[2019-04-23 19:44] #9 closed

[2019-04-26 23:01] johnnyq commented on #13
Done

[2019-04-26 23:01] #13 closed

[2019-04-27 01:12] johnnyq commented on #29
started

[2019-04-27 01:12] #29 closed

[2019-04-27 19:28] johnnyq opened #44 "Serverside Listing instead of Data Tables JS"
Switch to server side tables for when tables get to big in size. Include search, pagination, sortable columns, number of records returned.

[2019-05-04 01:20] johnnyq opened #45 "Badge icons dont work on side menu"
Badge icons dont work on side menu

[2019-05-11 02:53] johnnyq commented on #45
All fixed

[2019-05-11 02:53] #45 closed

[2019-05-11 02:53] johnnyq commented on #45
I had to not use the badge in the class name instead used badge-primary and badge-pill and it worked

[2019-05-11 02:54] johnnyq commented on #42
done

[2019-05-11 02:54] johnnyq commented on #22
moved them to the side nave done

[2019-05-11 02:54] #22 closed

[2019-05-11 02:54] johnnyq commented on #19
no

[2019-05-11 02:54] #19 closed

[2019-05-11 02:55] johnnyq commented on #24
no

[2019-05-11 02:55] #24 closed

[2019-05-11 02:55] johnnyq commented on #43
working on it closing for now

[2019-05-11 02:55] #43 closed

[2019-05-11 02:56] johnnyq commented on #8
this could be awhile adminlte hasnt release in years closing for now

[2019-05-11 02:56] #8 closed

[2019-05-11 02:56] johnnyq commented on #37
Done

[2019-05-11 02:56] #37 closed

[2019-05-11 02:59] johnnyq opened #46 "Client logins"
Give the ability for clients to login and update, add and view their information only. This will require some sort of permission system.

[2019-05-11 03:00] johnnyq opened #47 "Dashboard: Fix Pie Charts"
Not displaying correct data

[2019-05-11 03:12] johnnyq opened #48 "Add Cancelled Status to Quotes Invoices"
as the title says

[2019-05-15 06:27] johnnyq commented on #48
Done

[2019-05-15 06:27] #48 closed

[2019-05-15 06:27] johnnyq commented on #35
Done

[2019-05-15 06:27] #35 closed

[2019-05-15 06:28] johnnyq commented on #18
Done

[2019-05-15 06:28] #18 closed

[2019-05-15 07:00] johnnyq commented on #33
Done

[2019-05-15 07:00] #33 closed

[2019-05-15 16:10] johnnyq opened #49 "Merge Client_Vendors and Vendors"
it doesn't make sense to have 2 separate tables for the same thing

[2019-05-15 16:12] johnnyq opened #50 "Create a Website and forum for this project"
just as it says

[2019-05-15 16:12] johnnyq opened #51 "Give this project a name"
This project really needs a name

[2019-05-17 22:21] johnnyq commented on #49
Done

[2019-05-17 22:21] #49 closed

[2019-05-20 21:35] johnnyq commented on #42
This does not work right plus it needs to grab the cost of the product and enter in the price field

[2019-05-29 16:03] johnnyq commented on #46
This has been started, need to restrict other functions such as adding Invoices and Quotes, disabling parts of the top nav etc also need to confine client.php to only the logged in client_id

[2019-05-29 16:05] johnnyq commented on #44
This has been started

[2019-05-29 16:05] johnnyq commented on #28
started the payment form

[2019-05-29 21:29] johnnyq commented on #47
Fixed

[2019-05-29 21:29] #47 closed

[2019-06-14 18:00] johnnyq opened #52 "Opening balance should be a payment with invoice = 0"
Opening balance should be a payment with invoice = 0 and reference opening balance

[2019-06-14 18:01] johnnyq commented on #52
A date field should be accompanied with this

[2019-06-14 18:01] johnnyq opened #53 "Add Error Control and notifications"
for example when it cant connect to the database or cant send an email give some feedback when this happens

[2019-06-14 18:03] johnnyq opened #54 "Add Other forms of income instead of just invoice payments"
as title states

[2019-06-14 18:04] johnnyq opened #55 "merge history with logs"
merge history with logs and logs can reference other tables

[2019-06-14 18:06] johnnyq opened #56 "asset logs"
Keeps track of assets for example if a laptop is assigned to another person, or takin out for repair, or stolen etc

[2019-06-14 18:06] johnnyq opened #57 "Auto Fetch Domain Expire Date"
Auto Fetch Domain Expire date when clicked

[2019-06-14 18:07] johnnyq opened #58 "add PDF Thumbnail previews"
thats it

[2019-06-14 18:09] johnnyq opened #59 "add contacts detail page"
This will list assets, logins, software, notes, files assigned to them

[2019-06-15 03:24] johnnyq commented on #44
done a few bugs still need to be worked but mostly done closing

[2019-06-15 03:24] #44 closed

[2019-06-17 04:19] johnnyq commented on #17
done

[2019-06-17 04:19] #17 closed

[2019-06-17 04:19] johnnyq commented on #21
Done

[2019-06-17 04:19] #21 closed

[2019-07-12 21:56] johnnyq opened #60 "BUG: Dashboard - Income By Category calculating invoice amounts not payments to the invoice"
Income By Category calculating invoice amounts not payments to the invoice

[2019-07-12 21:56] johnnyq opened #61 "BUG: PDF Invoice and Quote not showing uploaded logo"
PDF Invoice and Quote not showing uploaded logo

[2019-07-30 18:28] johnnyq opened #62 "Faeture Request: Allow First Field in records lists to be clickable and bring up edit modal"
Allow First Field in records lists to be clickable and bring up edit modal this will allow for faster and more efficient interfaction

[2019-07-30 18:29] johnnyq opened #63 "Feature Request: Add Event auto increment 1 hour for end datetime based on start datetime"

[2019-07-30 18:33] johnnyq opened #64 "Feature Request: Defaults for common tasks"
In the settings tab add defaults tab with the folowing

Add Payment - Default Account Selection
Add Expense - Default Account Selection
New Transfer - Default From and To account
New Client - Default Type
Add Event - Default Calendar
Add Event - Default Start to End Time Increment Ex 1 Hour 2 Hour etc

[2019-07-30 18:36] johnnyq opened #65 "Login: Only show a TOTP Modal window if user has TOTP configured"

[2019-07-30 19:15] johnnyq commented on #62
dfebcaedfe674ed268508829d06d467e7df9316c

All Done

[2019-07-30 19:15] #62 closed

[2019-08-04 00:12] johnnyq commented on #64
69337ad52f40ac34b1f85e0633a06472d15f4554

[2019-08-04 00:12] #64 closed

[2019-08-04 00:17] johnnyq commented on #61
Fixed!!

[2019-08-04 00:17] #61 closed

[2019-08-12 21:47] johnnyq commented on #54
Added Revenues Donw

[2019-08-12 21:47] #54 closed

[2019-08-26 19:24] johnnyq opened #66 "Feature Request: Add Scope to Quote, Invoices and recurring"
Add Scope of work and display it in the listing limit the amount of characters as well

[2019-08-26 19:24] johnnyq opened #67 "Tax total not being displayed in quotes"
Tax total not being displayed in quotes

[2019-08-26 19:26] johnnyq opened #68 "add client to breadcrumbs nav under view quote"

[2019-08-26 19:29] johnnyq opened #69 "Moduleize the App"
For example if you just want to use it for accounting then disable all the IT documentation.

The following should be modules

Calendar
Tickets
Products
Trips
Companies

[2019-08-26 19:33] johnnyq opened #70 "Feature Request: Selectable Service for Maps"
Make default maps selectable under settings. Allow the use of google maps or open street maps

[2019-08-26 19:36] johnnyq opened #71 "BUG: Add revenue not showing correct account balances"

[2019-08-26 19:37] johnnyq opened #72 "Feature Request: Add selectable calendars on the left in calendar events"

[2019-08-26 20:38] johnnyq opened #73 "Add Past due Invoice email reminders in cron."

[2019-08-26 21:39] #71 closed, assigned to nobody

[2019-08-26 21:40] johnnyq opened #74 "Add Viewed invoice status and quote status"
Add Viewed status when user views quote or email

[2019-08-26 22:43] #74 closed, assigned to nobody

[2019-08-26 22:43] #67 closed, assigned to nobody

[2019-08-26 22:54] johnnyq opened #75 "Only mark overdue if the invoice due date is at the end of that day"

[2019-08-27 12:54] johnnyq opened #76 "Feature Request: Options to Enable/Disable API and Guest Portals"

[2019-08-27 12:55] johnnyq opened #77 "Feature Request: Show previous invoice balances on new invoices"

[2019-08-27 12:58] johnnyq opened #78 "Feature Request: Last Login"
Log Date Time, IP, Hostname, ISP, Browser, Operating System possily integrate this with the new logging system

[2019-08-29 17:26] johnnyq opened #79 "Ability to modify already entered items in invoice/quotes/recurring"

[2019-08-31 20:08] johnnyq opened #80 "SECURITY: Encrypt Login passwords in database using a company shared key"

[2019-09-01 06:57] johnnyq opened #81 "Create No Records Placeholder"
If there are 0 records then Display a no records placeholder

[2019-09-01 16:09] johnnyq opened #82 "FEATURE REQUEST: Envelope Printing"
Allow to Print Envelopes either using css html or pdf

[2019-09-01 16:10] johnnyq opened #83 "Feature Request: Check Printing"

[2019-09-01 16:11] johnnyq opened #84 "Feature Request: Label Printing / Asset Tags"
For use with Avery Label sheets, can be used for asset tagging

[2019-09-02 01:50] johnnyq commented on #81
Done

[2019-09-02 01:50] #81 closed

[2019-09-02 13:53] johnnyq opened #85 "Feature Request: Add Page Transitions"
Add Transitions during page loading to give the app a much more polished feel

[2019-09-06 04:17] johnnyq commented on #78
This is currently being worked on

[2019-09-06 07:19] johnnyq commented on #78
Done

[2019-09-06 07:19] #78 closed

[2019-09-06 07:20] johnnyq commented on #68
Done

[2019-09-06 07:20] #68 closed

[2019-09-06 07:21] johnnyq commented on #66
This has been started

[2019-09-06 07:21] johnnyq commented on #75
Done

[2019-09-06 07:21] #75 closed

[2019-09-14 18:27] TimelesslyPrecise commented on #51
MyITManager_CE

MyProMSP_CE

MyITCrm_CE

Trust_IT_Invoicing

ITFrontOffice

MSPFrontOffice

Smile_IT_Accounting

Clarity_IT_Accounting

Clarity_CRM

Clarity_MSP_Assistant

Clarity_IT_Assistant

Skill Assistant

Joy Invoicing

![kermitpopcorn](https://user-images.githubusercontent.com/39248682/64912334-a97a2300-d6fb-11e9-90e3-ce053b5ada3c.PNG)

[2019-09-16 19:25] johnnyq opened #86 "Feature Request: Automatic Appointment reminders"
When an event is added to the calendar give the option to select client and a checkbox to remind customer via email when event takes place and further reminder emails which could be set in settings under notifications. Maybe added an ical file so they can just click on it to add it to their calendar

[2019-09-16 19:26] johnnyq opened #87 "Feature Request: Cancel Calendar Event"
Ability to cancel calendar event, puts a line through it and can send the client an email notifying them of the cancellation

[2019-09-16 19:26] johnnyq opened #88 "Feature Request: Add Client Calendar linking"
as the title states

[2019-09-17 15:53] johnnyq opened #89 "Feature Request: Mailing Lists"
Setup Mailing lists, each contact and client and be added to the mailing list and certain clients to be targeted by invoice category for example web host clients can be targeted with a mailing list campaign. Get statistics about campaign 100 emails sent 50 were viewed

[2019-09-17 17:58] johnnyq commented on #88
e2b97afa20a09042eb932cc1a0509d631eeaf892

[2019-09-17 17:58] #88 closed

[2019-09-17 17:59] johnnyq commented on #86
e2b97afa20a09042eb932cc1a0509d631eeaf892

[2019-09-17 17:59] #86 closed

[2019-09-28 02:23] johnnyq opened #90 "Dashboard: Make the graph items clickable and have them go to a filtered view Thanks @kristankenney"
Make the graph items clickable and have them go to a filtered view

[2019-09-28 02:26] johnnyq opened #91 "Bug: The calendar items should change the mouse cursor to a hand on mouseover to indicate they're editable Thanks @kristankenney"
The calendar items should change the mouse cursor to a hand on mouseover to indicate they're editable

[2019-09-28 02:28] johnnyq opened #92 "Feature Request: Add Additional Date Filters on dashboard Thank @kristankenney"
On the dashboard theres already a filter that lets you go back previous years, maybe add last month, last 90 days, last 6 months, followed by each year maybe or something along those lines

[2019-09-30 05:52] Cr0ssix opened #93 "is this ready for production?"
i was looking at your projects, is these ready for production, also cant login into the demo site, whats the login info. thanks

[2019-09-30 14:16] johnnyq commented on #93
It is not currently were planning on a production release sometime late December 2019 early Jan 2020. A new demo site will be up this week sometime.

[2019-10-06 18:49] johnnyq opened #94 "BUG: Cron.php Auto Recurring Invoices if more than one it is sent out it duplicates the same invoice number"
BUG: Cron.php Auto Recurring Invoices if more than one it is sent out it duplicates the same invoice number

[2019-10-06 18:57] johnnyq commented on #94
Fixed

[2019-10-06 18:57] #94 closed

[2019-10-22 17:40] johnnyq opened #95 "Feature Request: Make balance column sortable in client listing"
Feature Request: Make balance column sortable in client listing

[2019-10-26 02:07] Cr0ssix opened #96 "installation"
Hello, i upload this to my webserver, created the db and fill out all the information, after click on save it comes back to the install and then its taking me to the same process (loop) where have to fill out all over again? do am i missing something?

[2019-10-28 04:04] Cr0ssix commented on #96
Hello?

[2019-11-20 00:28] johnnyq commented on #96
@Cr0ssix this should be fixed, give it another go and let us know

[2019-11-20 00:29] johnnyq commented on #27
Will not be able to implement in time for release closing for now

[2019-11-20 00:29] #27 closed

[2019-11-20 00:29] johnnyq commented on #31
Will not be able to implement in time for release closing for now

[2019-11-20 00:29] #31 closed

[2019-11-20 00:29] johnnyq commented on #30
Will not be able to implement in time for release closing for now

[2019-11-20 00:29] #30 closed

[2019-11-20 00:30] johnnyq commented on #82
unnecessary closing

[2019-11-20 00:30] #82 closed

[2019-11-20 00:31] johnnyq commented on #84
Will not be able to implement in time for release closing for now

[2019-11-20 00:31] #84 closed

[2019-11-20 00:31] johnnyq commented on #69
No need to implement

[2019-11-20 00:31] #69 closed

[2019-11-20 00:31] johnnyq commented on #93
Closing as this is not production ready yet

[2019-11-20 00:31] #93 closed

[2019-11-20 00:32] johnnyq commented on #59
Will not be able to implement in time for release closing for now

[2019-11-20 00:32] #59 closed

[2019-11-20 00:33] johnnyq commented on #76
unnecessary

[2019-11-20 00:33] #76 closed

[2019-11-20 00:33] johnnyq commented on #83
unnecessary

[2019-11-20 00:33] #83 closed

[2019-11-20 00:33] johnnyq commented on #11
For the most part this is done closing

[2019-11-20 00:33] #11 closed

[2019-11-20 00:34] johnnyq commented on #25
this functionality is mostly done closing

[2019-11-20 00:34] #25 closed

[2019-11-20 00:35] johnnyq commented on #50
Looking for assistance on this part

[2019-11-20 00:36] johnnyq commented on #26
this can be implemented with one of the many plugins from the app store

[2019-11-20 00:36] #26 closed

[2019-11-20 02:19] johnnyq opened #97 "Add Trips to Customer Details Page"

[2019-11-20 02:20] johnnyq opened #98 "Add Calendar Events to Customer Details Page"

[2019-11-20 02:20] johnnyq opened #99 "Create Advanced Filters for tables"
Add date from and date to

[2019-11-20 02:21] johnnyq opened #100 "add client field to revenue"

[2019-11-22 02:25] johnnyq commented on #98
Done

a66e2c7e337edc2b76e634300a239c8040592dc6

[2019-11-22 02:25] #98 closed

[2019-11-22 02:25] johnnyq commented on #97
a66e2c7e337edc2b76e634300a239c8040592dc6

Done

[2019-11-22 02:25] #97 closed

[2019-11-22 02:26] johnnyq commented on #96
closing it appears to be fixed

[2019-11-22 02:26] #96 closed

[2019-11-23 02:25] johnnyq opened #101 "Feature Request: Implement Common Vendors / Software"
This will allow you to globally change vendor info and link vendors and software to clients

[2019-11-24 06:27] johnnyq commented on #73
0b691f6eec7953bb97e3c644dbc06b9cdad2b700

[2019-11-24 06:27] #73 closed

[2019-12-31 15:02] nickkecooper commented on #80
Any update on this?

[2020-01-05 01:00] johnnyq commented on #80
Hi @nickkecooper just submitted a commit for encrypted client passwords in the database see e8b13c6058a155fbc988eeea6cdc37e44d49a4b9

[2020-01-05 01:00] #80 closed

[2020-01-05 01:25] johnnyq commented on #99
Done

[2020-01-05 01:25] #99 closed

[2020-01-05 03:17] nickkecooper opened #103 "Feature Request: Login Information Encryption"
Would love to get a way to encrypt the login passwords of assets, vendors ect. Just to keep raw information out of the database.

[2020-01-05 03:21] nickkecooper commented on #50
Wouldn't mind helping out on this end.

[2020-01-05 03:22] johnnyq commented on #103
@nickkecooper asset and vendor passwords are linked to the client logins if applicable which are AES Encrypted.

[2020-01-05 03:26] johnnyq commented on #50
That would be Super! It would be very much appreciated. I can spin you up a web host on our infrastructure. I don't have a domain or name for the project yet so its still up in the air. At the very least I can create a temporarily sub domain and we can use that to build the site.

[2020-02-07 01:26] johnnyq commented on #103
Closing

[2020-02-07 01:26] #103 closed

[2020-02-07 01:27] johnnyq commented on #77
Done 45fba5762b8d0b087b1d9b03cc766cc31c46b76e

[2020-02-07 01:27] #77 closed

[2020-02-07 06:56] johnnyq commented on #79
Done See 18444189c8485d49dcc619d5fe2400f3fc2480b0 and 3036dbdab26d97e659c0d40d9f3d59c87b31ab07

[2020-02-07 06:56] #79 closed

[2020-03-19 05:38] Shootify opened #104 "Feature Request: Customer portal"
implement customer portal so they can have access of invoices, quotes, tickets and possible documentation?

[2020-06-24 19:19] krisleslie opened #105 "Feature Request: Add photo field per company"
Some of the companies I'm sure we will deal with have a respective logo. So I think adding a logo field and then having it on the viewable report for that company would add a little bit of branding and value.  I noticed each contact already has a photo field enabled.

[2020-06-24 19:20] krisleslie commented on #105
Also this is Kris Leslie from Tom Lawrence IT Forums! Again thank you for doing what you do best!

[2020-06-24 19:22] krisleslie opened #106 "Feature Request: Add notes field per asset item"
Hoping to see if we could get a notes field added to each asset. Some assets may have specific instructions or documentation to follow them.

[2020-08-20 05:18] johnnyq commented on #106
already added =]

[2020-08-20 05:18] #106 closed

[2020-08-20 05:19] johnnyq commented on #105
Good Idea will do! and nice to meet you Kris Leslie =] Thanks again

[2020-08-20 05:21] johnnyq opened #107 "Add Tax to Categories and implement into Invoices and Quotes"
Currently Tax is hard coded need to make it dynamic by putting it into categories then calling the category when requested

[2020-08-20 05:22] johnnyq commented on #28
Need help with this one, i'm a little rusty with javascript

[2020-08-27 23:49] JonBoy1229 opened #108 "Install Issue"
I use Dreamhost for hosting. I created the website (PHP 7.4) and a MySQL database, uploaded the files, go through the setup process. It takes the login page, but when I enter my credentials, it just reloads to the login page. I intentionally entered a wrong password and it gives me the incorrect credentials error then.

Any ideas?

[2020-08-28 17:54] johnnyq opened #109 "Feature Request: Customer Statement"
Generate a customer statement based on invoices that have a balance. Show this statement in customer portal.

[2020-08-28 17:55] johnnyq opened #110 "Bug: Invoice Due Date text-danger not consistent with the past due date"
Due Date should be marked red if its passed today's due date. It seems inconsistent

[2020-08-28 18:09] johnnyq commented on #108
Hi @JonBoy1229, it sounds like you did everything right. Lets see if we can break this down to see what may be going on.

- Verify config.php has been created?
- Verify that the initial user got created and there is a record of that user under users tables in phpmyadmin?
- Copy and paste snippets of your error log (php, apache, nginx)

[2020-08-28 22:48] JonBoy1229 commented on #108
Hi Johnny,
Config.php is created. I even deleted it and created a new MySQL DB to make sure I didn't screw something up and it regenerated with the new DB info in it.

User account shows up on the Users table of the DB.

The host I'm using is a shared webhost, so I'm honestly not sure how to get those logs. I mainly use the host to run some base Wordpress sites.

[2020-08-28 23:31] johnnyq commented on #108
The logs will probably be our biggest help sometime the logs will be in the directory called logs or sometimes they may be on the web control panel itself. I'm not entirely familiar with Dreamhost. I could take a quick look tonight if you PM me info to login, but lets see if we can track down the logs first that will be most helpful.

[2020-08-30 00:25] johnnyq commented on #110
This is working just fine

[2020-08-30 00:25] #110 closed

[2020-08-30 00:36] johnnyq commented on #52
Throwing this idea out since we have an opening balance on the table it self

[2020-08-30 00:36] #52 closed

[2020-09-10 07:07] johnnyq opened #111 "Feature Request: Show Projected Monthly Income"
Based off the invoice due date

[2020-09-10 07:08] johnnyq opened #112 "Feature Request: Report for Highest Gross Income by Client"
Reports: Highest Gross Income by Client

[2020-09-14 12:26] Plankt0n opened #113 "Installation issue: white page url/setup.php?database"
Hello, while upon entering the mysql credentials and hitting next on the first installation step i end up on a white page with the url: http://thewebsite.tld/setup.php?database

I checked the MySQL database that I pre-created, and it doesn't have any tables, nor any 'config.php' file is created.

If possible, can I manually install this software? I think I could do it if provided with the initial

[2020-09-15 08:28] Plankt0n commented on #113
I forgot to mention that I tried using the existing .sql file without success.

[root@server dev]# mysql -u root -p dev < /var/www/html/dev/db.sql
Enter password:
ERROR 1067 (42000) at line 772: Invalid default value for 'trip_created_at'

Also tried to "decipher" the config.php initialization, however I noticed it uses variables to create specific folders etc based on companyname as well, with mo

[2020-09-16 12:14] Plankt0n commented on #113
Below are some httpd logs, sorry cannot use pastebin, blocked where I am.

I tried creating an empty config.php, didn't help.  Also tried to make the following config.php:

[code]

**LOGS:**
[code]

[2020-09-17 14:10] Plankt0n commented on #113
Okay, for funsies, I setup a completely new Virtual Machine running Ubuntu18 instead of Centos7.
Fresh install + apt-get update
Then followed this: https://hostadvice.com/how-to/how-to-install-apache-mysql-php-on-an-ubuntu-18-04-vps/

At setup, I get the exact same issue as i did with the Centos server. Something must be wrong with the setup.php

@johnnyq

[code]

[2020-09-18 03:33] johnnyq commented on #113
@Plankt0n Excellent info!! I think it might be a permission issue try this,
chown -R www-data:www-data /var/www/dev/html
remove config.php
make sure you have an empty database created for this
then point your browser to the app it should take you to the setup
I have tested this successfully using Hestacp.com web control panel running Ubuntu 20.04

[2020-09-18 03:40] johnnyq commented on #113
Oh another thing after looking at logs. It looks like the mysqli-function is missing usually this means the mysql extension is not installed or enabled, this could be a reason why your seeing a blank page on setup.php?database

[2020-09-18 09:21] Plankt0n commented on #113
`sudo apt-get install php-mysq` did the trick with the white-page issue. :) Thanks for the hint! Sorry for assuming its an issue with your setup.php.

It went through all the steps, however on the last one "Company" after hitting install, it sent me back to the database setup, I haven't collected logs yet, but will check. I also noticed no love for Europe during the company section :P

Thanks a lo

[2020-09-18 09:49] Plankt0n commented on #113
Hmm after running `chown -R www-data:www-data /var/www/html` (ubuntu server path) i now receive a Database Connection failed after attempting the Database step, and the logs only tell me `[Note] Access denied for user 'root'@'localhost'`
regardless if I set the host to localhost,127.0.0.1 or the real ip. Odd...

Have to do further digging.

[2020-09-18 10:00] Plankt0n commented on #113
Okay don't ask why. The www and mysql is on the same server. But I figured.. "Heck it's a permission issue, did i lock root at mysql installation?"

Yeah... Yes, I did. I made a specific superuser instead and the installation went through like a charm. After seeing the dashboard popping up I instantly got vibes back at my old place where I administrated our ITGlue 'environment'. Going to mess abou

[2020-09-18 11:28] Plankt0n commented on #113
Been testing now, installed PhpMyAdmin to check table content easier. And I noticed the following SQL issue being reported for most if not all tables when I try to open them; (Need to add that I also tried adding an asset through the web, it reports successfully, but it doesn't show up nor populate its db table.)

[code]

[2020-09-26 22:50] johnnyq commented on #113
Hi @Plankt0n Im glad you got everything up and running! Im not able to replicate the adding of assets. Were you able to resolve it yourself? Also we just registered a domain itflow.org and we have a demo up at demo.itflow.org username is demo@local and password is demo

[2020-09-26 22:53] johnnyq commented on #108
@JonBoy1229 I'm going to close this issue for now as i'm unable to replicate it please report back if you are still having the issue. Thanks

[2020-09-26 22:53] #108 closed

[2020-10-11 17:12] nicktimmermans84 opened #114 "Can't login - login page redirects to itself"
After attempting to login, the login page refreshes. Not able to get to dashboard.

[2020-10-12 22:21] johnnyq commented on #114
I'm just taking a guess here but out of all the things It could possibly be a web browser issue, try with a fresh install of chrome or Firefox and report back extension free.

[2020-10-12 22:22] johnnyq commented on #113
im going to close this for now

[2020-10-12 22:22] #113 closed

[2020-10-22 13:38] johnnyq commented on #114
I'm going to mark this resolved as i am not able to replicate and have not recieved a response. You are welcome to open a new issue if there are further issues.

[2020-10-22 13:38] #114 closed

[2020-11-14 08:36] ModernAesthetics opened #115 "Assets not showing after adding one"
When I add a new asset it does not appear under assets.
2 assets I've added that had logins add under logins but I would assume it should also show under assets.

[2020-11-14 17:53] johnnyq commented on #115
Hi @ModernAesthetics good point. Assets was supposed to be your own company assets and not show the assets of clients. Although I will update this to be global so client assets show up under assets on the main side nav.

[2021-01-02 20:22] dinger1986 opened #116 "Demo"
Is it ok to setup a demo?

Also keen to write an install script for this as well!

All ok?

[2021-01-03 12:26] dinger1986 opened #117 "Feature Request: Localisation"
Allow being able to choose other countries other than the USA and Canada for localisation

[2021-01-03 12:27] dinger1986 opened #118 "Feature Request: have time recording in tickets"
For my busienss we are recording time so currently use Anuko Time Track but would like to look at other options, the reason we use Anuko is it has a very simple start and stop button so recording time is so simple. For my business as the majority of work is time in line recording time is critical

[2021-01-03 12:28] dinger1986 commented on #116
install script written last night and tested today, working fine with a subdomain

[2021-01-09 01:01] johnnyq commented on #118
@dinger1986 Good idea, will add that feature down the line Thank you =]

[2021-01-09 01:02] johnnyq commented on #117
I'll leave this open as a tracker this is planned sometime in the future.

[2021-01-09 01:03] johnnyq commented on #116
Id be very interested in your install script and yes its okay to setup a demo. Although we already have a demo at demo.itflow.org user is demo@demo
password is demo

[2021-01-09 01:08] johnnyq opened #119 "Feature Request: Add 2FA Checkbox and Type to Client Logins List"
Feature: Add 2FA Checkbox and 2FA Type to Logins

[2021-01-09 01:11] johnnyq commented on #104
This is partially done, when an invoice gets emailed to the client. A Specially crafted link will be sent to them so they can use that link to view past invoices as well. Im not sure if we will add documentation and ticket access. Although we will make this easily exportable to PDF and Spreadsheet mainly for customer disconnects.

[2021-01-09 01:17] johnnyq opened #120 "Feature Request: Geographical Report Visual of Clients on Map"
Geographical Report Visual of Clients on Map

[2021-01-09 01:21] johnnyq commented on #51
We have concluded the name will be ITFlow

[2021-01-09 01:21] #51 closed

[2021-01-09 01:21] johnnyq commented on #28
We still need help on this one

[2021-01-09 01:22] johnnyq commented on #46
Closing this as there is a new topic open

[2021-01-09 01:22] #46 closed

[2021-01-09 01:24] johnnyq opened #121 "Feature Request: Rename this Github repo from PittPC_CRM to ITFlow"
Feature Request: Rename this Github repo from PittPC_CRM to ITFlow

[2021-01-09 01:27] johnnyq opened #122 "Feature Request: User Permissions"
Define user permissions

- **Global Admin** Access to all Companies
- **Admin** Access to Specified Company
- **Accounting** Access to Invoice Quotes Payments, Accounts  etc)
- **IT** (Access to customer IT Docs)
- Any Other Ideas?

[2021-01-09 01:28] johnnyq commented on #116
I need to update the documentation to reflect this project has a name and a website that is in development as well as a demo. Keeping this open for tracking.

[2021-01-09 01:31] johnnyq opened #123 "Feature Request: Integration with TacticalRMM and MeshCentral"
Would like to integrate these two amazing Free Open Source IT Projects. Please include ideas you may have on what your would like integrated between them

[2021-01-09 01:34] johnnyq commented on #121
Done

[2021-01-09 01:34] #121 closed

[2021-01-09 01:57] johnnyq opened #124 "Feature Request: Switch CSS Framework from AdminLTE 3 to tabler when stable"
https://tabler.io/

[2021-01-09 01:58] johnnyq commented on #124
Any thoughts anyone?

[2021-01-09 01:59] johnnyq commented on #116
Updated Documentation

[2021-01-09 01:59] johnnyq commented on #116
d39e2d9bfa7625110d23ca65731d085ae560a146

Thanks @dinger1986

[2021-01-09 01:59] #116 closed

[2021-01-09 09:59] dinger1986 commented on #123
Have you spoken to White about this?

Sounds amazing!!

[2021-01-09 10:05] dinger1986 commented on #116
Script is here https://github.com/dinger1986/dvis/blob/main/itflowcrminstall.sh

Feel free to take it and move it somewhere else

[2021-01-09 20:07] johnnyq opened #125 "Feature Request: Referred By Field Under client"
This will be a dropdown populated under category also create report on this as well. Some Categories could be Google, Friend Facebook, Craigslist etc

[2021-01-09 20:21] johnnyq opened #126 "Bug: Mobile Phone not showing under invoice"
Bug: Mobile Phone not showing under invoice

[2021-01-11 18:26] Nymall opened #127 "Feature: Ability to add different tax rates for different countries"
We're up here in canada, and so far we're loving playing around with your project! However, we have a complex sales tax system up here, and we need to add different tax rastes for different provinces(or if we're dealing with the states). The ability to edit tax rates from the options panel would be wonderful.

[2021-01-11 18:27] Nymall opened #128 "Bug: Rich text from the rich text editor is not supported on the ticket window"
Any ticket added with special formatting will have the special formatting removed, which can be frustraiting and make readability problems.

[2021-01-11 21:19] mrboingo opened #130 "Installation Issue"
I have a brand new Ubuntu 20.04 server with LAMP (maraidb) and pulled in the clone.  The Start install keeps looping.  It asks for the db info then asks to create a new user and company but once you click on the install button it brings you back to the beginning.  Over and over. I've tried about 3 times already.

[2021-01-12 02:30] johnnyq commented on #130
hello @mrboingo once you pull the repo set permission recursively on the pulled files example chown -R www-data:www-data /var/www/itflow

[2021-01-12 02:31] johnnyq commented on #128
@Nymall good call we will add this functionality this week

[2021-01-12 02:33] johnnyq commented on #127
@Nymall thanks so much, i'm glad the project can be of use to you and your company, this is why I enjoy developing this project. We will add this feature this week. I appreciate the merge and is a a good band aide. We will add the taxes under categories.

[2021-01-12 02:41] johnnyq commented on #116
Wow nicely done @dinger1986 I will fork this thank you so much for your contribution

[2021-01-12 02:43] johnnyq commented on #130
also check out this installtion script written by @dpinger1986

https://github.com/johnnyq/dvis/blob/main/itflowcrminstall.sh

[2021-01-12 10:08] dinger1986 commented on #116
just realised a typo so please check the script again, theres a reference to PITTCRM which should have been changed to ITFlow under the db user creation

[2021-01-12 14:30] johnnyq commented on #116
I saw that, I forked your code and made those changes. This will come into good use.

[2021-01-14 14:34] mrboingo commented on #130
Thanks, the chown took care of it.  I appreciate the help!!

[2021-01-14 15:28] #130 closed

[2021-01-15 20:47] johnnyq commented on #127
@Nymall This feature has been added. A new table called taxes will need to be created in SQL the structure is located in the db.sql file.

a2848fad09dc8d35f4ae1aa355cfe324b9cc6c8b

[2021-01-15 20:47] #127 closed

[2021-01-15 20:47] johnnyq commented on #107
Done a2848fad09dc8d35f4ae1aa355cfe324b9cc6c8b

[2021-01-15 21:41] johnnyq commented on #128
Hi @Nymall this has been fixed as well =]

74efc339ef2073a6e23a8b43c3d0dee856c3f267

[2021-01-15 21:41] #128 closed

[2021-01-15 23:25] johnnyq commented on #111
Done

b4cc8c1a91f408cf29f7a5fbe59d1be64a07e703

[2021-01-15 23:25] #111 closed

[2021-01-16 00:04] johnnyq commented on #125
added referral, must create the categories under setting to work

removed hours and company size

ad979ac8fd9bf3fb552efe815abde10601499b39

[2021-01-16 00:04] #125 closed

[2021-01-16 01:39] johnnyq commented on #126
Fixed

60600c786181aa13a5b04bf21f08832651cab385

[2021-01-16 01:39] #126 closed

[2021-01-16 01:44] johnnyq commented on #115
This has been fixed All Assets will show under assets to edit or delete assets you will need to access the client details.

[2021-01-16 01:44] #115 closed

[2021-01-16 01:45] johnnyq commented on #101
decided not to add this really wont help any

[2021-01-16 01:47] johnnyq commented on #105
Decided not to add this for now maybe in the future as there are many tasks that take priority.

[2021-01-16 01:47] #105 closed

[2021-01-16 01:48] johnnyq commented on #104
Closing this as client already have access to account info invoices quotes etc. Documentation can be exported via PDF and sent to them when needed.

[2021-01-16 01:48] #104 closed

[2021-01-16 01:48] johnnyq commented on #124
Unsure of this closing for now

[2021-01-16 01:48] #124 closed

[2021-01-16 01:49] johnnyq commented on #123
@dinger1986 I have not but i'm not sure if there really needs to be any integration so i'm going to close this one for now

[2021-01-16 01:49] #123 closed

[2021-01-16 01:51] johnnyq commented on #118
@dinger1986 we are going to close this for now, as we recommend to use an external app or program as you for your timer. Were working on minimizing the code even further

[2021-01-16 01:51] #118 closed

[2021-01-16 01:52] johnnyq commented on #89
Closing as this should be used by another app such as https://sendportal.io/ we may provide integration with this at a later date as it provides an API.

[2021-01-16 01:52] #89 closed

[2021-01-22 23:42] johnnyq commented on #66
413d67e409cc1ca51995a608ffaac8ba134a151b Done

[2021-01-22 23:42] #66 closed

[2021-01-23 08:29] aftechro opened #131 "Feature Request: Add asset button Global Assets and SSL Cert"
Hello,

How can i add assets? the ADD Asset button missing.

Also, from where can i change the Location when i set it up as a fresh. it has only US and Canada.
Where can i change the dollars to euro for instance?

Thank you!

[2021-01-24 00:00] johnnyq commented on #131
Hi @afsound. Add a client then click on the client then click assets you will be able to add assets that way for now. The add asset feature will soon come to global assets.

Currently we haven't implemented all the localization as we wanted yet but is planned.

[2021-01-24 09:36] afsound commented on #131
Hi Johny,

Thanks very much for it.  That works fine. I`m happy with it to have it on client asset section. But yeah, global asset will be nice.

Please see in line:

1. How can i add another filed as url on login section of the assets.

So basically, on the assets if i want to add just passwords of hosting service, admin emails of office365, gsuite admin etc... or can you make a section of passwo

[2021-01-24 09:41] afsound commented on #131
Oh, forgot a thing,

Can there will bee global vendor? For instance, if i`m using same vendors for webhosting, email and so on... better to have them as global, then have to add date for each client.

[2021-01-24 09:52] afsound opened #132 "email invoice"
When i sending invoice to email it will send a link but the link is not accessible

![image](https://user-images.githubusercontent.com/38830718/105626721-8f8d3c00-5e29-11eb-8138-098030edbf3f.png)

![image](https://user-images.githubusercontent.com/38830718/105626750-c2cfcb00-5e29-11eb-9c51-409ee2a1b3b7.png)

any chance to send this invoices as pdf format as attachement rather then a link url?

[2021-01-24 10:05] afsound commented on #50
I can also help you, let me know what else you need. Hosting, domain let me know :D

[2021-01-24 10:09] afsound commented on #28
have a look here:

https://www.itsolutionstuff.com/post/laravel-57-stripe-payment-gateway-integration-exampleexample.html

used this a a while ago and worked fine.

[2021-01-24 12:09] afsound opened #133 "link service to client"
how can i set services to be shown in the services section of the client

![image](https://user-images.githubusercontent.com/38830718/105629783-03850f80-5e3d-11eb-88ee-70c73cad96b5.png)

[2021-01-24 17:02] aftechro opened #134 "adding trips error"
when trying to add trips as call out jobs, i have this error

![image](https://user-images.githubusercontent.com/38830718/105637473-9d60b280-5e65-11eb-8f1d-07b512e96bf1.png)

on the back end it shows that the trip was added, but after that, nothing shows on the trips page.

this would be handy for the call out jobs

an another note, i noticed that i cannot use google account as the smtp mail, for

[2021-01-24 17:04] afsound opened #135 "Future update: translation"
Would be handy to have the invoices sent in the language that needed.

I can help you out with the Romanian translation.

[2021-01-26 02:16] johnnyq commented on #135
that would be fantastic! although I have to work out the logistics and implementing locale (Currency, timezone language, formats etc) properly into code. This however will be major task and would require quite a bit of code manipulation in all areas. We are not quite ready to tackle this just yet. We want to push out 1.0 stable soon, maybe we'll shoot for 2.0 for the locales. Im going to close thi

[2021-01-26 02:16] #135 closed

[2021-01-26 02:22] johnnyq commented on #134
Hi @afsound I wasn't able to replicate in the latest commit. There are 2 ways to add trips one globally and one through the client.

Is it not working both ways?

Excellent screenshot, although the errors are mainly due to undefined vars which you will receive alot of. I'll work on cleaning this up before release.

Keep up the bug reporting this helps quite a bit =]

[2021-01-26 02:24] johnnyq commented on #133
Hi @afsound the services section currently does nothing, I implemented it for filler to test the top bar this will be removed in a later commit.

[2021-01-26 02:28] johnnyq commented on #132
Hi @afsound that is strange and should work it looks like it may be an http:// link and not an https://
I know you blanked out the first part of the url for security purposes but the first part should look something like this https://itflow.example.com/guest_view_invoice.php

[2021-01-26 02:29] johnnyq commented on #133
Closing for now

[2021-01-26 02:29] #133 closed

[2021-01-26 02:36] johnnyq commented on #131
Hi @afsound
    Thank you for the detailed information! To answer your questions:

1. Documentation pieces should go into the notes section under the client profile.
    Good Idea on SSL Tracker I will implement this one.
2. Email Piping is a great idea as well, i'll look into implementing it after 1.0 release. Currently tickets have to be opened manually.

[2021-01-26 02:46] johnnyq commented on #50
Hi @afsound I really appreciate your offer on hosting. We are mainly looking for someone that can design a website that showcases ITFlow. That site would need to be static and not rely on any server side dynamic languages. So just plain HTML5/CSS3/Javascript.

[2021-01-26 03:03] johnnyq opened #136 "Bug: Trips - Round Trip icon shows for all trips"
Only show icon when roundtrip is checked.

[2021-01-26 03:18] johnnyq commented on #136
fixed eb62dacc2a7b239ac75950cfec5527d6af7497f4

[2021-01-26 03:18] #136 closed

[2021-01-26 05:13] johnnyq opened #137 "UI: Replace blank listing fields with a filler"
Replace blank listing fields with a filler such as **-**

[2021-01-26 06:26] johnnyq commented on #131
@afsound I actually was going to implement global vendors except i went against it, although what your saying makes alot of sense. Im going to reopen that issue and start working on it.

[2021-01-26 06:27] johnnyq commented on #101
Reopening this can be extremely useful

[2021-01-26 09:08] afsound commented on #134
Hi Johnny.

It doesnt works both ways.

[2021-01-26 09:11] afsound commented on #132
Hi Johnny,

That`s great, installed the ssl on my end, and works like a charm!

[2021-01-26 09:11] #132 closed

[2021-01-26 09:18] afsound commented on #131
Cool, will wait for the next update then!
Thank you!

[2021-01-26 09:29] afsound commented on #122
From the point of it managed company (who manage it services for more clients), where there`s a owner, staff and clients i would do something like this:

**Global admin** - owner of company - access to all features and configurations

**Accounting** - as you put it

**IT Admin** - access to: assets, documents, configurations  - adding/editing data of existing/new companies  (this for staff of the

[2021-01-26 09:40] afsound commented on #57
You can have something like this:

domain lists
![image](https://user-images.githubusercontent.com/38830718/105827408-de69db80-5fb9-11eb-85cc-31565867ee94.png)

domain data
![image](https://user-images.githubusercontent.com/38830718/105827709-39033780-5fba-11eb-978c-0122791ac864.png)

and pull the whois data if possible
![image](https://user-images.githubusercontent.com/38830718/105827886-6d76f380

[2021-01-26 09:45] afsound commented on #50
Sure, i can help on that part also.

[2021-01-26 10:58] afsound commented on #134
![image](https://user-images.githubusercontent.com/38830718/105836612-55f13800-5fc5-11eb-8d80-770aaaa96c13.png)

is just shows 1 records, doesnt matter how many records i`ll input, that number remain as it is.
and no data to be shown

[2021-01-26 20:16] johnnyq commented on #131
Keeping this open for tracking will close once implemented

[2021-01-26 21:23] johnnyq commented on #131
Added Certificate @afsound let me know if this looks good on your end

4fec4dd36bc9d30cec894309d908a942f8a98287

[2021-01-26 22:43] afsound commented on #131
Looks good! and it`s a start :D

Any chance the SSL will be grabbed from the domain and fill in the date automatically?  Probably with future updates

here is the IT Glue example

![image](https://user-images.githubusercontent.com/38830718/105915453-a8634080-6027-11eb-8fa5-2d0dc2da8c1e.png)

and this is the results data, with attachements (for crt,pfx,key files) and related items
![image](https://

[2021-01-26 23:43] johnnyq commented on #131
I think I can accomplish that, ill probably do the same with domains as well. Keep them coming you are providing excellent information

[2021-01-26 23:44] johnnyq commented on #50
Fantastic! this will be a giant help. Ill assign this issue to you in the time being. I really appreciate the help =]

[2021-01-26 23:49] johnnyq opened #138 "Feature: Rename Notes to Documents under client Details"
Rename Notes to Documents under client, as this is better suited name for technical documentation such as updating a software of configuring a VPN etc.

[2021-01-27 00:17] johnnyq commented on #138
6aebe260f5fb085f2900bbf28e6016026b44e759
Done

[2021-01-27 00:17] #138 closed

[2021-01-27 20:51] johnnyq opened #139 "BUG - Phone numbers are not searchable using dashes (-) ex 412-444-3333"
In all search forms phone numbers can only be searched with numbers only as this is how its stored in the DB
It should be possible to search phone numbers with dashes as well ext 866-999-5555

Here is example query for clients

`$sql = mysqli_query($mysqli,"SELECT SQL_CALC_FOUND_ROWS * FROM clients WHERE (client_name LIKE '%$q%' OR client_type LIKE '%$q%' OR client_email LIKE '%$q%' OR client_cont

[2021-01-27 22:58] johnnyq commented on #139
This needs to be filtered within the mysql statement itself

`client_phone LIKE REPLACE('-','','%$q%')`

I tried the above and it did not work

[2021-01-27 23:16] afsound opened #140 "private contact"
How i would get in touch with you?

new here on github, but cant see anywhere contact or send message  :D

[2021-01-29 02:00] johnnyq commented on #140
@asound i wish github had pm Shoot us a message here

https://pittpc.com/#contact

ill respond back with me contact info

[2021-01-29 02:01] #140 closed

[2021-01-29 19:05] johnnyq commented on #122
Good Idea I think we should also consider adding another group called contractor and have access limitations based off the selected customers.

[2021-01-29 20:16] johnnyq opened #141 "Feature Request: Seperate Dashboards (Tech - Accounting/Sales)"
**Tech**

- Ticket Metrics
- Recently updated clients

**Accounting**
- Sales Metrics

[2021-01-30 02:55] johnnyq commented on #122
Initial work has begun 88933e09f78e75265d5f03866d66773d71a34c2f

[2021-01-31 18:43] johnnyq opened #142 "UI: Move Alerts to Toast"
Move Alerts to Disappearing toasts so it doesn't disturb the content <divs>

[2021-02-02 18:55] johnnyq opened #143 "Feature Request: Late Charges"
Add 1% late charge to invoice as an invoice item with the description late charge 1% YYYY-MM-DD late charges every 30 days after the invoice due date. This can be automated using cron. The Percentage and number of days will be configurable in the settings.

[2021-02-04 03:18] johnnyq opened #144 "Reworking: Add Account Opening balance should really be a revenue"
Rework Add Account Opening balance which should really be a revenue, this will also change the calculations on other portions of code making it a much more efficient simpler optimized calculation

[2021-02-04 11:41] gwes opened #145 "Colo(u)r picker history"
It would be good if the colour picker (or color picker if you can't spell properly...) could have a history, or recently used, or even retain the last selected colour to make it easier to colourise things.

On the demo account I decided to colour all expense categories one colour, income another, payment types in a third. etc. etc. I could have remembered the RGB for each but my memory is terrible

[2021-02-04 11:46] gwes opened #146 "Add new category in the "select category" dropdown"
When you are in the middle of creating something like a quote, it's sometimes a bit of a pain to close out of the window you are in to go and create a new "thing" that you need before you can create the thing you were doing.

If you realise you need a new category when creating a new quote it would be good to have a quick add / add new option on the dropdown to allow you to add it without requirin

[2021-02-04 11:50] gwes opened #147 "Quotes with multiple categories"
Generally if I am doing a quote for a customer it would be made up of multiple lines and those lines could be for different classifications of "things". For example ;
10 off Computers
8 off Copies of Office
2 off Copies of Autocad
24 off hours installation and configuration time

I would want to have different categories for each line so that in the future I can track my profit by, for example, ha

[2021-02-04 11:54] gwes opened #148 "Tax type lost when editing a line in a quote"
If you open a line item on a quote to edit it, the tax dropdown does not seem to load the current setting so if you do not correct it and just hit save then no tax is applied to that line going forward (unless you edit again and correct obviously.)

[2021-02-04 11:58] gwes opened #149 "Image not found icon in top left of quote when generating pdf"
I've just generated a PDF from a quote I made (on the demo system) and there is an "image not found" red cross in the top left hand corner.

I am assuming that this should be a company logo and that there is not one configured in the demo system. Might be good to check if this is set and if not to display nothing.

Assuming I'm correct its probably not actually a massive issue as most people will

[2021-02-04 12:01] gwes opened #150 "POSITIVE ISSUE"
Just wanted to put something positive to offset all of the "problems" I have recorded.

Love the Guest URL feature and the history at the bottom of the quotes.
The layout all looks great, really clean and easy to read, including the print and pdf versions.

Great work.

[2021-02-04 16:58] johnnyq commented on #145
Good idea @gwes Ill work on this one. Keep them flowing your reports are extremely helpful.

[2021-02-04 16:59] johnnyq commented on #150
Thank you for the kind words much appreciated =]
Your ideas are great so keep them flowing in =]

[2021-02-04 16:59] johnnyq commented on #149
looks like a bug ill get this one fixed up thanks for reporting

[2021-02-04 17:00] johnnyq commented on #148
looks like a bug as well will work this out thanks =]

[2021-02-04 17:04] johnnyq commented on #147
We do have categories for invoices and quotes however its for the entire invoice / quote. Although this can be a problem

for example

you have 2 service Income categories Computers and Service.
You create an invoice and mark the category as computer
The following line items are in the invoice

Data Transfer
Dell Latitude Laptop

We have both a Service and a Computer Category.

The best way curren

[2021-02-04 17:05] johnnyq commented on #146
I agree completely, ill get to this Thanks @gwes

[2021-02-04 19:30] johnnyq opened #151 "Rename Entities"
Rename the following

- Software > Licenses
- Logins > Passwords
- Assets > Devices

Including DB info

[2021-02-04 22:10] johnnyq opened #152 "Move Company Info out of settings table and into companies"
Move Company Info out of settings table and into companies

[2021-02-05 03:58] johnnyq commented on #152
Done

6d23b87f7c0eaa2aa4daf9dd05860a2ba67a57f4

[2021-02-05 03:58] #152 closed

[2021-02-05 08:55] gwes commented on #147
That's a work around for sure, I used to to that with an older accounting package I used a few years ago. I'm aware that making that change would be quite a bit of code re-working!

[2021-02-05 13:08] gwes opened #153 "Should you be able to edit a quote once it's been "approved""
Hey, I'm back... sorry.

At present you are able to have a quote approved and then after it's been approved you can change it.

Whilst I can see that this would be good (and my current in house quote system also allows this) I have always thought that it would be better to force an amendment to be a "new" quote QUO-001 becomes QUO-001-A for example and if you require the customer to approve it the

[2021-02-05 13:15] gwes opened #154 "Action button on the quotes view could change "approve" to "invoice" if the quote has been approved already"
What the subject says really...
At the moment you can approve a quote by pressing the actions button. Once the invoice has been approved that option could be changed to be an "invoice" action. Saves a couple of clicks potentially.

[2021-02-05 13:29] gwes opened #155 "Invoiced quote should probably dissapear / change state"
Once a quote has been invoiced I feel like the original quote should change state so that it can not accidentally be invoiced a second time. Maybe it disappears from the main quote view or status changes to Invoiced and it moves below the other quotes?

[2021-02-06 05:22] johnnyq commented on #148
We implemented tax id to items tables and updated it in the necessary places. Also if you have a recurring invoice and the tax rate percent changes the next time it send out the invoice it will update the invoice with the new rate was well as the recurring template. Please test extensively and report any bugs thanks

632714cd17980faa20fbca894beec9e41d8c56e4

[2021-02-06 05:22] #148 closed

[2021-02-06 06:26] johnnyq commented on #155
This has been done we removed actions like approve on the list view and kept them only to quote details view. Also renamed Approved to Accepted and Reject to Declined. Added invoiced status, let me know if it works good or if it needs any further improvements, Thank you for your feedback.

d90c7e466461e685f5f77224728ec269414e3ff1

[2021-02-06 06:26] #155 closed

[2021-02-06 06:28] johnnyq commented on #154
All fixed, We removed approve and reject on the list view can only be accessed via quote details view. Thank you for your feed back.

d90c7e466461e685f5f77224728ec269414e3ff1

[2021-02-06 06:28] #154 closed

[2021-02-06 06:35] johnnyq commented on #153
I agree, only allow editing in draft only or if you are admin. Ill get on this The Copy Quote function can be used to duplicate an existing quote that has been declined.

[2021-02-06 06:35] johnnyq commented on #151
Feedback on this, Is this a good idea or should I just leave it alone?

[2021-02-06 06:38] johnnyq commented on #147
I'm going to work on this one, ill take categories off invoices and put onto into invoice items. This will make sense for income tax purposes.

[2021-02-06 06:41] johnnyq commented on #134
@afsound I started doing alot of reworking especially in trips can you confirm if this working, you may have to reinstall again as there has been major backend updates

[2021-02-06 06:57] johnnyq opened #156 "Feature Request: Add Export/Import CSV on some list views"
Import will allow you to download a template. This can be handy to import data from another database into ITFlow and export data from ITFlow to something other database or app.

[2021-02-06 07:02] johnnyq opened #157 "Bug: Implement Non Destructive Deletion to prevent DB link breaking"
for example if you remove a category linked to an expense, it will break expenses, i'll use this as template for all the items that should not have delete.

- Taxes
- Categories
- Users
- Companies
- Vendors
- Accounts

[2021-02-06 07:03] #150 closed

[2021-02-06 07:05] johnnyq commented on #153
I wonder if we should rename Copy to Duplicate. What do you think @gwes ?

[2021-02-06 07:49] johnnyq opened #158 "Good Defaults Thoughts"
## Categories
### Expenses

- Office Supplies
- Travel
- Advertising or Marketing?
- Professional Service

### Income

- Service
- Product

### Referrals

- Google
- Friend
- Craigslist
- Facebook
- Sign
- Other

Any Thoughts?

[2021-02-06 08:06] johnnyq opened #159 "Feature Request: Add Tax Collected to Reports"
Add Tax Collected Report similar to income or expense report. This is so taxes can be done properly at the end of the quarter

[2021-02-06 13:49] gwes commented on #153
Duplicate is the term I use in my current system. It then gives the option to select customer to duplicate too (with the current customer selected as default).

[2021-02-06 13:56] gwes commented on #151
My $0.02 worth would be that the suggested renames make the items more specific which might not be a good thing.

For software you might want edition, version, update url, license type, license renewal, licence key. Not just license
I might not just want to store passwords but username, password, TOTP key, pw change URL
Devices is a subset of assets, struggling with an example right now.

So, if y

[2021-02-06 13:57] gwes commented on #156
Sounds like a good idea. Make it easy to for, example get things into an accounting package if you need to.

[2021-02-06 14:03] gwes commented on #157
Add an archived (timestamp) column to the DB and only show items where archived == "" in the the UI when you are changing something. That way it can still display historical items but allows you to keep the current list clean.

Maybe change the wording from "delete" to "archive" as well but from the end users perspective you have deleted it, it doesn't show up when you add a new item but it will w

[2021-02-06 14:22] gwes commented on #158
"generic *" or maybe "uncategorised *" or "general *".
So you have a default place to put stuff if it does not match an existing category but you CBA to make a new one. For example for when you get a refund from a supplier but they don't issue a credit note and you just need to record it somewhere as an income (might not be the best example)

If you look at something like Sage or quickbooks or Xer

[2021-02-06 14:50] gwes commented on #159
In the UK if you are "registered for VAT" you need total sales, VAT charged on sales, total purchases, VAT charged on purchases. You can then opt to send in your "return" on a monthly, quarterly or yearly basis.

Depending on how you are registered the "totals" might be either on the total of invoices generated / received (Standard accounting) OR on the payments you have made and received (Cash Ac

[2021-02-06 20:08] johnnyq commented on #146
This has been added, I added it to quite a few drop downs.

Although one downside is when you add the category it closes out of the model windows your in so you must reopen the modal.

This may be fixed using an AJAX call
Some Order just brain storming

- + Clicked
- type in category
- check clicked
- submit post data via ajax to post.php
- return post reponse id and name
- inject it into DOM
- cl

[2021-02-06 20:08] #146 closed

[2021-02-06 20:10] johnnyq commented on #157
good idea I may accomplish this by creating
a deleted_at field with a timestamp

then hide anything with a deleted_at timestamp.

Perfect ill get to this

[2021-02-06 20:39] johnnyq commented on #157
Non Destructive Deleting has begun DB Structure Updated

2ea809b4e7b4ca1e3dba34f48870761144e0dbf8

[2021-02-07 00:40] johnnyq opened #160 "Bug: Sorting Invoices and Quotes - Add 0s in front of quote/invoice number"
This is causing some sorting issues with single, double and so on digits

Invoice 1 would be become 0001

or maybe just start invoices and quotes off at 1000 by default

[2021-02-07 11:16] gwes commented on #157
But only hide it when creating new or you are editing an item dated after the deletion date. If you are editing an item from before the deletion date then you should still see it. Probably...

[2021-02-07 16:27] johnnyq commented on #157
Excellent Idea!! Ill use both your ideas in the code Thanks

Also I named the field names archived_at I agree archive is much better.

Ill work on this now

[2021-02-07 18:59] johnnyq commented on #157
It has been done

[2021-02-08 04:44] johnnyq commented on #157
This is now complete, on the most crucial items let me know if there should be any changes or bugs

[2021-02-08 04:44] #157 closed

[2021-02-08 04:45] johnnyq commented on #151
Good Ideas, ill implement the software fields

[2021-02-08 10:28] afsound commented on #134
Hi Johnny,

Still cant get the trips to work, but probably something on my end, test them on your demo url and works fine there, but not sure why wont work on my host. I`ll have to check if is not something to do with the host itself. running on nginx with php7.4

[2021-02-08 21:58] johnnyq commented on #160
fixed by separating prefix from number and only sorting the number field

7d9352c63dc453a88deafc2df109702758f266fa

[2021-02-08 21:58] #160 closed

[2021-02-08 22:03] johnnyq commented on #134
hmmm that what I am running too with mariadb see if theres anything new in the php log. I cleaned up alor of the errors that were outputting there so it should be much easier to find real errors.

[2021-02-10 05:35] johnnyq opened #161 "Feature: Add Currency Code Support"
USD EUR etc

[2021-02-10 16:35] johnnyq opened #162 "Feature: Seperate records per page from settings and into session"
Records Per Page should be based off the session and when logged in go back to the default 10. This currently can be an issue with multiple users working in one company.

For example user Julie set her records to 20
while Bill is searching the database all the sudden his records per page changes
As you can see this can get quite annoying

[2021-02-10 17:07] johnnyq opened #163 "UI Bug: Fix position of Invoice Status Ribbon"
UI Bug: Fix position of Invoice Status Ribbon

[2021-02-10 17:15] johnnyq opened #164 "Feature: Create Invoice from Ticket"
Feature: Create Invoice from Ticket

[2021-02-10 18:40] johnnyq commented on #162
66f9e2b10f04d768269cfd30fe0cf39b37806997
Done

[2021-02-10 18:40] #162 closed

[2021-02-10 21:15] johnnyq opened #165 "Feature: Switch from PHP mPDF to JS pdfmake"
Switch to pdfmake as its much lighter and smaller size and offloads pdf creation to the users browser instead of the server. Much more modern approach

[2021-02-11 04:28] johnnyq commented on #165
80% Done just need to do the guest portal portion

81f07a5effac71c0bd1accef963c025a4086dc4e

[2021-02-11 06:07] johnnyq opened #166 "Feature: Builtin Updater"
Builtin Updater that pulls the latest commit and updates database based off DB diff of current db.sql and new db.sql

[2021-02-11 15:33] afsound opened #167 "Get payments by card on invoice"
Hi Johnny,

not an issue, but a suggestion

Here`s another thing that can be integrated on the invoicing url generated: either paypal or stripe to get the option to customer or to account manager to pay/charged with credit card.

![image](https://user-images.githubusercontent.com/38830718/107658685-49840500-6c7e-11eb-8afa-8f784dadd22c.png)

Let me know what you think about this?

[2021-02-12 05:26] johnnyq commented on #167
hi @afsound This is currently being implemented hopefully by the beginning of next week. We are focusing on strip integration at the moment

[2021-02-12 19:07] johnnyq commented on #165
Transition Complete

9d76261e8a022786ea25724c63772ba40589a3cd

[2021-02-12 19:07] #165 closed

[2021-02-12 19:08] johnnyq commented on #161
This has been started

957c0615adcbcc09510efae03cdb42251dde7112

DB Structure Done

[2021-02-12 20:12] johnnyq opened #168 "UI: Top 10 Alerts as a dropdown"
The Alert bell when click should show a dropdown of top 10 alerts with a buttom to view all at the footer of the dropdown.

[2021-02-12 20:15] johnnyq opened #169 "UI: Download Invoice / Quote Opens a new window should reside on the current window"
A new bug was introduced with makepdf when you click download it opens a new blank window then downloads the PDF, in reality it should download from the current window. This may be an upstream bug and investigating.

[2021-02-14 23:32] johnnyq commented on #161
Currency Code has been implemented closing

Would like to do currency conversion for the future

[2021-02-14 23:32] #161 closed

[2021-02-14 23:32] #167 closed

[2021-02-15 22:22] johnnyq commented on #145
@gwes This has been done! let me know if you like the implementation.
By default it give you 20 colors to work with for each category Type and will only show the colors available when adding or editing categories.

08fcea5f432c6b05fd76a7269142645432a162ae

[2021-02-15 22:22] #145 closed

[2021-02-15 22:27] johnnyq commented on #134
@afsound Any recent luck? or is this still a problem for you?

[2021-02-15 23:38] johnnyq commented on #163
Closing this, this seems to be an upstream bug with adminlte closing

[2021-02-15 23:38] #163 closed

[2021-02-16 03:57] johnnyq commented on #169
fixed
234442e458b9384b5d459e8bd07721b3b7f57563

[2021-02-16 03:57] #169 closed

[2021-02-16 07:20] Shootify opened #170 "Feature request: Restore from database backup"
Hi Johnny, to keep up with the **current** updates, what would be the right method to backup and restore ? phpmyadmin? in the future 1.0 release a Backup and restore build in would be nice. thanks and keep it  up

[2021-02-16 08:54] afsound commented on #134
Hi mate, i`ll have to use the new updates you made and let you know if something changed.

[2021-02-16 09:06] afsound commented on #134
For some reason there`s no trips table in my db

![image](https://user-images.githubusercontent.com/38830718/108041330-4601cc80-7036-11eb-8b78-59102a095c95.png)

[2021-02-16 15:55] johnnyq commented on #170
Hi @Shootify I agree, and we plan on having that functionality as well as export / import records via CSV. Currently ITFlow is going through many structural changes which causes previous versions to break. We are working on solidifying the core, and hope to have 1.0 out the door within a few months.

[2021-02-26 11:25] aftechro commented on #170
can we integrate https://www.adminer.org/ just php based db admin, no phpmyadmin needed :D
works like domain/sql.php

[2021-02-27 00:18] johnnyq commented on #170
hello @aftechro we do not plan on including adminer directly into our project however as you may know adminer can be downloaded separately and it can be installed in a sub directory of itflow. Just login with the itflows DB user and password.

[2021-03-01 21:41] Shootify opened #171 "BUG: Do not display Send Email option if Mail is not configured"
when creating event and saving sometimes goes blank screen, same when check send/email event.
cheers

[2021-03-02 20:21] aftechro commented on #134
any advise for this? for some reason wont create trips data base. just removed everything and added the project again with latest updates, but still same... no trips table created.

[2021-03-03 00:55] johnnyq commented on #134
@aftechro that is really strange.

Have you completely dropped the DB and recreated it then reinstall or did you just reinstall without dropping the DB?

Linux Distro?
Are you using MySQL or MariaDB? and version?
PHP Version?

I can do a remote session with you on install to see what might be causing it.

[2021-03-03 00:58] johnnyq commented on #171
@Shootify If you don't have mail configured under settings -> Mail and check the box send email event it will do what you described. I think I may hide the email event if mail is not configured to reduce the confusion. Thanks for pointing this out

[2021-03-03 00:59] johnnyq commented on #171
Looks like this is also affecting email Invoices/quotes and Payment Receipts

[2021-03-04 22:10] shulemmosko opened #172 "Feature: Ticket Assignment"

[2021-03-05 06:13] johnnyq commented on #172
No not currently, but I will add that feature to the list ill keep this open for tracking, thanks

[2021-03-10 20:15] Malcharias25 opened #173 "Records not displaying on fresh install"
OS: Ubuntu Server 20.04 LTS
DB: MySQL 8.0.23-0
Build: afkjgjfshgkfjg763g43g (??)
Web: Apache2

Problem:
Clean install of Ubuntu server, installed Apache/PHP/MySQL and configured using commands outlined in DVIS install script. Setup completed successfully, login to Admin account successful, however attempting to populate information intermittently fails to display.

Example:
1. Created new Client i

[2021-03-11 02:54] randysrs opened #174 "Feature Request - Tree Level Document Support"
any roadmap ? need a howto/general KB folder at the top level . i get you have a document folder in each client which is cool , but would like to have a option for a tree level

my thought process is we have 50 +documents from LOB/SOP docs, would like to organize them by folders , rather then search 50 docs for those .
thoughts

example of structure

Client Docs

Employee documents
    LOB documen

[2021-03-15 00:09] aftechro commented on #134
Hi Johny,

I`ve downloaded the sql from the demo site and create the trips table on my end

    CREATE TABLE `trips` (
  `trip_id` int(11) NOT NULL AUTO_INCREMENT,
  `trip_date` date NOT NULL,
  `trip_purpose` varchar(200) NOT NULL,
  `trip_source` varchar(200) NOT NULL,
  `trip_destination` varchar(200) NOT NULL,
  `trip_start_odometer` int(11) DEFAULT NULL,
  `trip_end_odmeter` int(11) DEFAULT N

[2021-03-15 22:52] Malcharias25 commented on #173
After some testing, it appears that I'm running into some issues (at least in part) with updates from the webUI not being written to the SQL backend.

When creating some entries (clients for instance,) SQL tables are updated. Attempting to add an asset however fails to create an entry in the database. If I manually create an entry in the Assets table, (using the same login/password used during ini

[2021-03-17 20:31] johnnyq commented on #173
@Malcharias25 Try installing a fresh copy with MariaDB instead of MySQL Im curious if you get different results

[2021-03-17 20:33] johnnyq commented on #174
@randysrs Good idea, but no real roadmap or docs as of yet. Unfortunately i've been quite busy running my MSP lately and has caused me to step back on development on the ITFlow. Looking forward to getting back into to the flow.

[2021-03-17 20:53] johnnyq commented on #134
@aftechro You found it!! Great Job this has been fixed in the latest commits thanks to you!! It seemed to affect MYSQL 8 users and not MariaDB as this was why I was not affected. Closing for now thanks again

[2021-03-17 20:53] #134 closed

[2021-03-18 16:34] Malcharias25 commented on #173
@johnnyq Good call! After spinning up a new VM, and installing using MariaDB all entries seem to be recorded and displayed as expected - at least for the first few entries. I'll do some more testing on my end, but this appears to be resolved.

Thanks for your help!

[2021-03-18 17:24] Malcharias25 opened #175 "Bug/Feature Requests - Calendars"
After taking a quick look at the calendar module, I have a couple of bug fixes/feature requests:

- BUG: When entering a new calendar event, the "start date" field has to be entered manually, but the "end date" field has a Calendar pull down option.
- FEATURE REQUEST: Ability to setup recurring calendar events (for monthly customer visits, for instance.)
- FEATURE REQUEST: Ability to subscribe to

[2021-03-18 17:26] Malcharias25 opened #176 "Bug/Feature Requests - Trips"
A couple of items I noticed on the Trips panel:

- BUG: Import/Export options on the company Trips panel do not function - clicking on them provide either a white page (import) or an error page (export)
- FEATURE REQUEST: Ability to enter odometer start/end instead of raw trip mileage - it would also be handy to have the trip mileage automatically calculate based on the odometer entries.

[2021-03-19 07:00] johnnyq commented on #173
Excellent!! I'm still curious why things are not working well with MySQL ill do some more testing in that realm thanks for your feedback

[2021-03-19 07:02] johnnyq commented on #175
Excellent Suggestions @Malcharias25 I will implement and fix I like the recurring idea I must of just forgot about recurring hahaha ill get on it. Im not sure about the subscribe do you mean sending an .ICS file via email like outlook does?

[2021-03-19 07:04] johnnyq commented on #176
Yeah import and export is broken, i'm working on implementing that function everywhere
I will implement the odometer idea that makes sense and it will auto calculate too!!

[2021-03-19 07:05] johnnyq commented on #176
keep em coming all great ideas!!

[2021-03-21 10:47] grelbar opened #177 "Adding a document with image under client doesn't work every time"
(tested on the demo site )

Creating a document under a client with a picture and some text says it has created a new document but it doesn't appear in the list.

![image](https://user-images.githubusercontent.com/81080174/111901948-91e3cf00-8a43-11eb-99a2-277aa3ac2f3d.png)

![image](https://user-images.githubusercontent.com/81080174/111901956-990add00-8a43-11eb-8f81-d853da64d40b.png)

Creating a

[2021-03-22 22:53] Malcharias25 commented on #175
@johnnyq I was thinking more along the lines of being able to access and modify the calendars in ITFlow from a desktop application. For instance, with Google Calendars, you can publicly share a calendar to other people, which generates a URL that they can add to Outlook/Apple Calendars/Google Calendars/etc.

I understand if this isn't possible under your current implementation of the system - it w

[2021-03-22 22:57] Malcharias25 commented on #176
@johnnyq I just found another (possible) bug in the Trips module.

It seems that the Technician role doesn't have access to be able to add trips under clients - is this as intended? I think this feature might be more useful if a technician can add their own trip information to a client without having to submit it to an accountant/admin.

[2021-03-24 12:29] aftechro commented on #176
Hey Johnny,

Did you update the zip or git resource?

For some reason i have same error on the trips like previous post.

Also, i`ve noticed that when first run, the currency on the dash board not changing as the one selected at the beginning. May be just the icon :D (euro)

[2021-03-24 12:34] aftechro commented on #176
think the issue is here:

![image](https://user-images.githubusercontent.com/38830718/112310780-dddd8080-8c9c-11eb-9c9d-a2e0a5f9d041.png)

 the date range need to be selected in order to display the data. otherwise wont be sown

![image](https://user-images.githubusercontent.com/38830718/112310927-05cce400-8c9d-11eb-902c-a2b685c99d35.png)

![image](https://user-images.githubusercontent.com/3883071

[2021-03-25 01:58] johnnyq commented on #177
Nice Bug Report @grelbar I think i found the issue. Currently the Database field is set to text which is limited I will change this to longtext and that should correct it. In fact ill change it in multiple parts as this more than likely affects other fields as well.

[2021-03-25 02:05] johnnyq commented on #177
Fixed fed532153aec89c37b73dbf93b2e28d012f1b111
will update the demo site soon
Thanks @grelbar

[2021-03-25 02:05] #177 closed

[2021-03-25 02:07] johnnyq commented on #176
Hi @aftechro I did update the it although the DB structure has changed as well which should fix the errors you are seeing give it a reinstall and let me know

[2021-03-25 02:24] johnnyq commented on #175
@Malcharias25 Ah Got ya that would be nice and it was planned but I found it way too difficult to implement. Still want to do so but have to get a few things out of the way first

[2021-03-25 02:25] johnnyq commented on #175
@Malcharias25 We just fixed the start date bug it should work for you now with the latest update

[2021-03-25 19:32] Malcharias25 opened #178 "FEATURE REQUEST - Client Prints"
@johnnyq I love the fact that you've implemented the ability to print out a report on all client configurations, but I think it would be more helpful if there was an option on the Print page to include/exclude some data. For instance, if I'm generating an asset report for a client, I'd like to be able to include the assets and software licenses, but perhaps not the documents or passwords.

Is this

[2021-03-25 19:53] Malcharias25 opened #179 "BUG - Client Reports"
@johnnyq When selecting the printing option for a client report, I just found a strange bug related to assets - I've confirmed that purchase and warranty expiration dates are reported on devices in the Assets page, and they are showing in the SQL tables, however the printable report shows a blank field for both.

[2021-03-25 19:59] johnnyq commented on #178
Actually that's a good idea @Malcharias25 , we can have little check marks next to the index to each that show/hide sections like passwords, etc. This shouldn't be hard to implement at all, ill get to it.

[2021-03-25 20:10] johnnyq commented on #179
Fixed Thanks for Reporting @Malcharias25

[2021-03-25 20:10] #179 closed

[2021-03-25 20:17] aftechro commented on #176
Yeah, leave it with me, cause i`ve done both git clone and zip download and fresh new db with same result. i`ll check few things and let you know. Thanks!

[2021-03-25 20:23] johnnyq commented on #176
are you using mariaDB or MySQL 8?

[2021-03-25 20:43] aftechro commented on #158
I suppose these expenses refers to IT Company as the expenses of the services/product for the client

**Expenses:**
yours plus below
**Hardware** (pc, laptop, accessories, cables, patches and so on...) Main category Hardware, sub-cat user can input type of hardware
**Software** (Licenses (Office365, Windows, Adobe etc) - Direct cost of licenses from reseller or provider - without the margin added

[2021-03-25 20:46] aftechro commented on #176
MariaDB

[2021-03-25 20:48] johnnyq opened #180 "BUG: If no Company image is uploaded it breaks invoices and Quotes"
If you dont upload a company image it breaks invoice and quote, this is due to pdfmake.js we will get a fix for this.

[2021-03-25 20:55] aftechro commented on #119
For the logins, can you add the OTP under the logins and mask the password and have a show password and show otp

![image](https://user-images.githubusercontent.com/38830718/112542107-1750e180-8dac-11eb-8a1e-bf215b4792e5.png)

![image](https://user-images.githubusercontent.com/38830718/112542181-29328480-8dac-11eb-8e04-f3665dc31492.png)

![image](https://user-images.githubusercontent.com/38830718/

[2021-03-25 21:10] aftechro commented on #151
I would leave the Software, Passwords and Configurations

[2021-03-27 20:07] #180 closed

[2021-03-29 17:18] Malcharias25 commented on #175
@johnnyq I can confirm that the update did resolve the bug in the start date/time field. Thanks for that!

I look forward to seeing recurring events added to the calendar system - one recommendation regarding that is to not only allow for it to recur on a specific day of each month, (for instance, on the 3rd day of each month,) but also a specific monthly timeframe (for instance, the second and fo

[2021-03-29 17:25] #173 closed

[2021-03-30 15:43] Malcharias25 opened #181 "Feature Request: Deleting/archiving records should prompt for confirmation"
I consider this a bit of a bug, but perhaps it fits better as a feature request... I'll leave that to you to decide.

I would like to see a feature implemented where, when someone clicks the Delete option in any menu (client records, documents, assets, etc.) they get a prompt asking to confirm the action - perhaps with a check box or the like. This will help reduce the chances of accidental deleti

[2021-03-31 17:50] Malcharias25 commented on #175
@johnnyq FYI, I see that you submitted a new commit a couple of days ago with a repeat option for the calendar. I assume you're still working on it, but I wanted to let you know what I'm seeing, in case it isn't what you expect at this stage of development.

I applied the new version on my test server, and after manually adding the relevant field to the Events table in the SQL database, (I didn't

[2021-04-06 00:02] johnnyq commented on #181
Yeah I must admit @Malcharias25  I have done the same, ill go ahead and implement this feature

[2021-04-06 00:03] johnnyq commented on #175
@Malcharias25 I have the DB and form implemented im just not sure how im going to have the event repeat yet. still researching

[2021-04-06 00:04] johnnyq commented on #176
Hey @aftechro post a data dictionary of the trips table this may help in the trouble shooting

[2021-04-07 01:27] johnnyq commented on #149
Fixed we switched to pdfmake

[2021-04-07 01:27] #149 closed

[2021-04-07 01:29] johnnyq commented on #119
@aftechro Great idea ill get this function added

[2021-04-07 21:01] johnnyq commented on #172
Initial work has begun
e547a7678049649db1c3710d78bf6b66277050e9

[2021-06-15 21:10] DjMagicFingers opened #182 "Feature request: RTL support"
Great initiative for something every MSP will need.

I am asking to add the ability to use the product with an RTL (Right To Left) language like Hebrew.

I do understand that transforming everything to RTL is a huge project so even if that is not possible right now, a good starting step towards full RTL support would be the option to align text in various locations to the right (not only justify b

[2021-06-15 21:19] DjMagicFingers opened #183 "Feature request: product margins rate fields and calculation"
This is a request to include an additional field in the product table that will hold the percentage of how much to add to the cost-price to create the sales-price.

For example, if I want to earn  10% for a specific product, I will fill in the "margins" field the value "10" so the "sales price" field will show the cost price plus the margins already calculated.

I think that you already have the m

[2021-06-15 21:26] DjMagicFingers opened #184 "Feature request: Multi currency support"
We operate from Israel (that uses ILS - israeli Shekel) but we provide support for clients world wide, where different clients use different currencies.
I would like to request a way to be able to work with multi currencies on one sales document.

For example, when I build different products, they can have different currencies - a CPU can be sold in USD, motherboard in ILS and labor in EUR.

If I

[2021-08-06 22:24] aftechro opened #185 "few changes"
Hi Johnny,

Hope you are well. Just playing around with the php files in trying to get some changes

So here what i managed so far

1. **DONE** add client name on the top along with back arrow, so that should be visible on which client you are working on

![image](https://user-images.githubusercontent.com/38830718/128593453-bcf7d54a-4c34-4922-aff4-d985b4405191.png)

           <a href="clients.php

[2021-08-07 04:43] iamkhris commented on #184
I will throw my vote on this as well.  I'm in Canada and there is no option to select CDN for currency.

I've been using a program called Invoice Ninja which integrates with Open Exchange Rates.  You sign up with them, get an App ID, plug that into Invoice Ninja, and once a day it updates the various currency exchange rates, providing multi-currency support.

[2021-08-08 02:09] johnnyq commented on #185
@aftechro Excellent Work!! The changes you made look Great!!

I really like showing the client's name on the Client Side NAV, this totally solves the issue of wondering if you are in the client section or the global section.

I'm not sure if Global vendors will be that easy and yes your code will show all vendors however certain client logins and other DB links may cause issues along with speciali

[2021-08-08 07:59] aftechro commented on #185
Hey Johnny!

Glad you like the changes.

For vendors, yes, have to think on the best way to bring them togheter. Maybe joints DB will do the trick.

As for the support type, this is purely for invoicing aspect.
For instance, for maintenance clients who paying monthly fee all incoming phone support, emails or call out jobs are included. Where for non maintenance clients, agent have to charge for th

[2021-08-11 11:55] aftechro commented on #185
Hi Johnny,

Thanks for implementing the changes, really appreciate it.

Well done with copy to clipboard where i got stuck and couldnt make it work. I suppose, on clinet_logins.php the masked/unmask password still in progress.

If i may few other observation if possible, whenever you get chance...really not urgent

1. For contact phone (all sections) shows the format ___-___-___ which may be the U

[2021-08-11 17:44] johnnyq opened #186 "Bug: Canned Date Doesnt Change the GET VARs upon submit"
Moe than likely we will remove the Backend PHP Canned Date Functionality in Favor for a Javascript Canned Date Drop Down that will update the date_from and date_to fields instantly before submit.

[2021-08-11 18:16] johnnyq commented on #185
Hi @aftechro I still really want to get the 2FA OTP working under client logins as well this has proved to be very difficult same with Global Vendors. What I might have is an option to autofill from global vendor. This will autofill the Name, Description, address, city, state, postal code, country  contact, it will leave notes and account number alone and can be filled in as this will be different

[2021-08-11 19:44] aftechro commented on #185
Hi Johnny,

YES, OTP is a priority
you could check how the guys from adminer implemented on the login page (which can also be done on itflow)  https://www.adminer.org/en/plugins/otp/  if any help.

I`m also looking into similar things to see how others done it

For ticketing i have some ideas, but i dont want to give you a head heck. :D
currently i`m using the OSTickit https://osticket.com/ and do

[2021-08-19 02:32] johnnyq commented on #185
OTP has been added cdcd22ae6fb189749654ff05f080352d11eace71

[2021-08-19 02:32] johnnyq commented on #119
OTP Has been Added cdcd22ae6fb189749654ff05f080352d11eace71

[2021-08-19 05:50] johnnyq commented on #137
Done bf69d02cba75ba7f350033a8a1c1d70f860bda14

[2021-08-19 05:50] #137 closed

[2021-08-19 05:51] johnnyq commented on #182
Closing this for now, pull request are welcome.

[2021-08-19 05:51] #182 closed

[2021-08-19 05:52] johnnyq commented on #119
This has been added Closing

[2021-08-19 05:52] #119 closed

[2021-08-19 05:54] johnnyq commented on #117
This is WIP closing for now

[2021-08-19 05:54] #117 closed

[2021-08-19 11:44] aftechro commented on #185
woohoo! Well done Johnny! i`ll have a look later on :D But much appreciated you implemented this

[2021-08-19 15:00] aftechro commented on #185
hey Johnny,

we are on the right track, but still work to do.

So i insert the text secret, which generates the code but notice 2 things:

1. the code given not working
2. the otp doesnt refresh

[2021-08-19 15:03] johnnyq commented on #185
Hi @aftechro I just noticed this too, TOTP out put code is based off time, i'm wondering if the time is off. For now you have to manually refresh the screen to get the new code it changes every 30 seconds. Try refreshing page and putting in the new code

[2021-08-19 15:06] aftechro commented on #185
tried that but not working, it`s like a totally different code. tried with multiple keys, but same thing, does not recognize the code.

[2021-08-19 15:10] johnnyq commented on #185
Your right I'm having the same issue, i'm going to have to look more into OTP it could be calculation issue. I'll continue to work on it throughout the week. Ill be pushing a few more updates out today.

Here is the code im using to calculate the 6 digit code

[code]

[2021-08-19 16:27] johnnyq commented on #185
@aftechro added custom external links to side nav ef7bfd3c90a5658468a8cfa489551a146616b598
Let me know if this looks good or have any other suggestions for external links

[2021-08-19 17:29] johnnyq commented on #65
This has been done closing

[2021-08-19 17:29] #65 closed

[2021-08-19 17:30] johnnyq commented on #139
We will be redefining phone numbers to support other countries

[2021-08-19 17:30] #139 closed

[2021-08-19 17:33] johnnyq commented on #147
After much debating we are going to keep separate invoice and quotes for separate categories as this is much easier to implement and track.

[2021-08-19 17:33] #147 closed

[2021-08-19 17:34] johnnyq commented on #171
Done

d7101cb5d65b754864a850f9ed860f89f5ab35c9

[2021-08-19 17:34] #171 closed

[2021-08-20 10:41] aftechro commented on #185
Custom links looking great.

[2021-08-21 02:15] johnnyq commented on #185
@aftechro Thank you and now ticket assignment is complete 131e04915b1505ec46bf4a0ea0dcdb7524ab0797

[2021-08-21 02:16] johnnyq commented on #172
complete 131e04915b1505ec46bf4a0ea0dcdb7524ab0797

[2021-08-21 02:16] #172 closed

[2021-08-21 06:12] johnnyq opened #187 "FEATURE: Webauthn FIDO2 Hardware Key Login Support"
Webauthn FIDO2 Hardware Key Login Support for single factor and 2 factor

[2021-08-21 06:15] johnnyq opened #188 "ENHANCEMENT: Link Location and Contact with Client"
This would make more sense currently the client table has the same fields as the location and contacts table, these can be combined. Lots of code reworking will need to be done

[2021-08-22 03:06] iamkhris opened #189 "ENHANCEMENT - Client Screen Layout"
When I look at this screen, my eyes get a bit confused as to where to click to get the client/info I'm looking for.  I'd like to propose a couple visual
![Option1](https://user-images.githubusercontent.com/2065198/130340532-29bb11b0-6e1c-47ab-a021-84ad3da97b08.png)
![Option2](https://user-images.githubusercontent.com/2065198/130340533-3321863c-c2ae-43b0-94b7-172fb9d3a882.png)
options.

[2021-08-22 09:37] aftechro commented on #189
I do like the new design and the way the info is presented. Your proposed changes, means that longer line text if client really having a long name + Support type on the same line. Not ideal

I  like how the client section is presented atm, everything on separate lines (clear and easy to read the info)
1. client name
2. client type
3. support type
4. contract details

What i suggest if i may, is th

[2021-08-22 09:46] aftechro commented on #186
Can you please make the default listing to show all existing data in ASC order, then Canned Date selection should be optional and only if needed.
For instance, when i select clients, nothing shows there, unless i select something from the drop down menu. And same for other sections where canned date is used

[2021-08-22 09:49] aftechro commented on #184
I can say only that: Work in progress :d

[2021-08-22 15:22] iamkhris commented on #184
Agreed, and your work is impressive thus far so I'm confident this is something we will see in a future release. :)

[2021-08-22 15:32] iamkhris commented on #189
I didn't consider the length of the client name, and then adding on a support string after it. I think it's the space underneath the client name, before the Support and Contract details that is throwing my eyes off.  This makes more sense to me personally.

![image](https://user-images.githubusercontent.com/2065198/130361005-4037277f-6c8e-421a-95e1-3f3f8dda77d9.png)

 As another alternative, perha

[2021-08-22 16:04] johnnyq commented on #186
Hi @aftechro you shouldn't have to select anything from the drop down menu to see all your clients. By default when you click on clients it will sort all clients by date accessed. You might be on old code for some of the data listings as this was a bug that was corrected when I was making modifications. pull the latest code and let me know if its still happening

[2021-08-22 17:37] johnnyq commented on #189
@iamkhris I like the colored support contract icon next to the client name Im wondering if also bolding the Client Name to make it easier when clicking. Ill go ahead and implement.

[2021-08-22 17:43] iamkhris commented on #189
@johnnyq  Do you mean bolding the client name for all entries (and then support contract info underneath would be regular), or only bold those with a valid support contract?

[2021-08-22 17:50] johnnyq commented on #189
@johnnyq Bolding all client names and using the support contract icon in front of the name as you have it. Bolding the Client name will help define it as a clickable entry. I also like what @aftechro said to make the entire link clickable, although it may cause issues with the Bootstrap CSS Framework that i'm using. What do you think would bolding the name be a good idea?

[2021-08-22 17:53] iamkhris commented on #189
@johnnyq Without seeing it I can’t say for sure, but I also don’t see any real issues with it.  I agree that it makes it stand out and identifiable as a clickable item whereas other items not bolded would be for informational purposes only.  Sounds like a reasonable idea to me. :)

[2021-08-23 00:35] johnnyq commented on #189
@iamkhris @aftechro Okay UI changes have been made to client listing let me know if you guys like it or if anything should be changed. Thanks

[2021-08-23 00:44] iamkhris commented on #189
@johnnyq Love it!!  Thank you :)  I think it looks fantastic.

[2021-08-23 00:53] johnnyq commented on #189
@iamkhris Execllent Thank you Ill close this out for now Thanks for reporting =]

[2021-08-23 00:53] #189 closed

[2021-08-23 00:54] iamkhris commented on #188
Here's my 2 cents.  Having to duplicate info creates the problem of when that info changes, you have to change it in multiple places.  I'd like to suggest the following.

On the New Client form, completely get rid of the Contact Tab.

![image](https://user-images.githubusercontent.com/2065198/130376254-3c8d9263-786c-4228-99bb-6c5ce958416b.png)

Then when you've got the Company created, add a new c

[2021-08-23 07:47] aftechro commented on #186
Hi Johnny,

Nope, still not working for me for some reason... I still have to select something from the lost in order to see the data

Using mariadb with php 7.4 not sure if something to do about the versioning of sql or php, and i always get the latest code as zip download (being on shared server, cant do the ssh install)

Thank you!

[2021-08-23 07:48] #185 closed

[2021-08-23 07:48] aftechro commented on #185
Thank you for this! Amazing and helpful as always!

[2021-08-23 07:50] aftechro commented on #184
That`s Johnny doing awesome work implementing all our ideas.
I`ve done some custom changes on my end which works fine, and suggest them to Johnny which will be added in the future.

[2021-08-23 08:17] aftechro commented on #189
That`s look great! I was bit concerned that the staff wont know if client maintenance or not just by the color of the icon, but as long while inside the client page, on the top under company name, it`s also the full text of the support state, that`s great :d

[2021-08-23 20:43] johnnyq commented on #188
Fantastic @iamkhris I will be implementing this and it makes so much sense. Although this update is going to have some breaking changes but we need to do this to move forward. I also love the idea of a billing and technical contact. We will do the same for locations and have it choose a primary location

[2021-08-23 23:21] iamkhris commented on #188
@johnnyq Awesome.  Yes, love the primary location idea as well!  Sometimes each location has their own primary/billing/technical contact too so something else to consider.

The other similar issue I noticed was with Vendors.  You can create a Vendor in the root of ITFlow, and then you can create additional Vendors for each client.  It would be nice if it were possible to have two lists, a Global V

[2021-08-24 02:23] johnnyq commented on #186
That is strange im wondering if it has to do with this piece of code below in all the listings like client lists. It doesn't seem to affect me but maybe if your DB is using different region settings it may affect you, I'm using MariaDB 10.5.x post your mariadb Version

[code]

Try changing the code to the following

[code]

Let me know if that works, i'm curious?

[2021-08-24 05:33] aftechro commented on #186
Yep, that works!

Actually is mysql  Ver 8.0.26-0ubuntu0.20.04.2 for Linux on x86_64 ((Ubuntu)), not MariaDB, my mistake...used to work on MariaDB but forgot i changed the server

[2021-08-24 18:53] johnnyq commented on #186
Fantastic!! Although its going to not be viable for everyone to use MariaDB i'm going to have to come up with another solution. I may need your help testing some minor code changes to see if they are going to work in mysql @aftechro Right now im doing some major code refactoring so I wont be able to get to it until maybe next week depending on how busy we get here.

[2021-08-25 10:56] aftechro commented on #186
Sure, whenever need me, count me in!

[2021-08-28 17:26] johnnyq commented on #188
Major breaking changes went into place to make this happen which will allow us to do some amazing things in the future, this code refactoring was long overdue.

f3053ffbd44b0310f4d7626e823f225bc10a3371

[2021-08-28 17:28] johnnyq commented on #186
Fantastic!! Thanks @aftechro I'm still deciding on how I want to handle this one but will keep you informed

[2021-08-30 17:34] johnnyq commented on #188
Closing as this is now complete

[2021-08-30 17:34] #188 closed

[2021-09-02 18:33] johnnyq commented on #50
Website and Forum has been started using our custom CMS that is opensource as well

[2021-09-02 18:33] #50 closed

[2021-09-09 13:03] johnnyq opened #190 "Feature: Client Tags"
This feature will allow you to add multiple tags to your clients which will be searchable. This will in turn will expand / replace the Support Field Maintenance and non-Maintenance which will be tagged feature. Common Tags could include Maintenance, non-Maintenance, Web Hosting, Network monitoring etc. These tags can be customizable

[2021-09-09 13:07] johnnyq opened #191 "Feature: Mailing List / Mass Mail"
This feature will allow you to send out mass mail to clients based off the client tag feature that we will introduce. This can be helpful  if you want to send a mass email to all Web hosting clients to remind them of a maintenance or if you want to inform everyone in the non-maintenance category why it would be a good idea to get on a proactive maintenance MSP plan etc.

[2021-09-12 16:47] johnnyq commented on #185
@aftechro This has been done, Basically it you can input phone numbers freely with dashes, pluses () it will just convert them to a number in the backend and then display it properly on output. let me know if it works properly.

[2021-09-12 18:21] johnnyq opened #192 "Feature: Multi-select - Edit / Archive / Delete multiple records at once"
The Ability to modify many records at once same with edit and delete

https://forum.itflow.org/d/440-feature-request-multi-select-edit-archive-delete-multiple-records-at-once

[2021-09-13 11:33] aftechro commented on #185
Hi Johnny,

good to hear this, i`m away for a week, but i`ll test this and other new stuff on my return.

keep up the great work!

[2021-09-13 11:33] aftechro commented on #191
Well thinking and very handy to have it! Thank you!

[2021-09-22 10:45] aftechro opened #193 "Feature request: Credit to customer"
Hey @johnnyq,

Hope you are doing well!

Would you mind to add a credit option that can be added to the client and to be shown both under client`s dashboard underneath on Billing section as well on the main dashboard as a new card which will calculate the total of income/expenses,profit and credit?

on another note,

For some reason i cannot access your demo url, neither mine, which both using sam

[2021-09-22 19:22] johnnyq commented on #193
Good Request I just had a client ask to buy time so a credit feature would come in great handy there I will implement this.

Demo has been fixed and is currently on the latest release I think the old demo was like 8 months old

Thanks for reporting.

[2021-09-23 10:07] aftechro commented on #57
Would you please do same also for the SSL Certificates?
Thank you!

[2021-09-23 14:19] johnnyq commented on #57
Good Idea This has been implemented 6fb0d32b526315025b780028739406764b9123a3

[2021-09-24 22:28] aftechro opened #194 "Recommendation: Accounting user permission"
While the accounting user have no access to entire menu while on dashboard.php the full menu shows if accounting will click on the clients

![image](https://user-images.githubusercontent.com/38830718/134745266-8dc15462-cff0-41bc-aa70-56928a95fbbd.png)

After selecting a client from clients.php, the full menu with sensitive data that the accounting users shouldn't have access to

![image](https://u

[2021-09-24 22:45] aftechro opened #195 "Bug: Email test/config"
Hey Johnny,

I`m trying to set my SMTP as Office365 one, but for some reason not working.

I`m able to input SMTP details and save the section, but when i test the email or when i actually trying to send a test invoice, not working

Can there will be option to either user SMTP or phpmailer from the hosting system

[2021-09-25 22:43] aftechro opened #196 "Feature request: Payments"
Just a thought...not sure how easy will be this to integrate it

In the accounting section, can there be a Payments/Payees section (visible only to global admin and accountant user) where to have:
- Employees
- Contractors / Providers

Fields should include:
- Personal details - full name, position, address, contact details, bank account details (IBAN, BIC/SWIFT, bank name), emergency contact, upl

[2021-09-26 19:04] Brodur opened #197 "index.php - Breadcrumbs link to index.html"
index.php has a breadcrumb trail that links Dashboard to index.html, which does not exits.

[2021-09-26 22:26] RVL-Solutions commented on #195
Can you confirm that SMTP is allowed for the mailbox within your O365 tenant?

[2021-09-26 23:07] aftechro commented on #195
SMTP enabled, below error

    2021/09/26 22:55:37 [error] 338812#338812: *357 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined index:
    company_currency in /home/itflow/public_html/check_login.php on line 48" while reading response header from upstream,
    client: 1.2.3.4, server: domain.tld, request: "GET /settings-mail.php HTTP/1.1", upstream: "fastcgi://127.0.0.1:8007", host:

[2021-10-03 22:18] aftechro commented on #195
Hey guys,

Sorted by using app password in Office365.

@johnnyq can we add a filed in the email settings "Display send as" where we can add display name of the email sender?

Thank you!

[2021-10-04 13:36] johnnyq commented on #195
Hi @aftechro im glad the app password worked for you, that would be something i'll add to documentation for the future.

The Display Send as is actually the name field in Setting > General > Mail update that field and it will produce what you want.

I may update the field to be a little more descriptive I like "Display Send as"

[2021-10-04 13:41] aftechro commented on #195
Hey @johnnyq

Yes, i did the Name filed, and found also the issue for that on my end :D looks like the email address used, was saved under contact address book under different name, and when email received, showed that name

I`ll send you an email to request access to documentation so i can add as i discover things :D

[2021-10-04 13:44] johnnyq commented on #196
@aftechro This would be a fantastic add but much work would need to be done. Maybe call it as simple as payroll. I will add this to the todo list.
What I have been doing currently is expensing contract work using expenses and created a category called contract. I also create one expense a month under the category payroll for my paycheck.

[2021-10-04 13:44] #195 closed

[2021-10-04 13:45] johnnyq commented on #197
Thank you for the correction @Brodur I'll go ahead and merge your code soon, much appreciated.

[2021-10-04 13:46] johnnyq commented on #194
@aftechro Good call I must of missed this I will get this fixed up

[2021-10-31 10:28] Panchalhariom07 opened #199 "Feature: More Country and State Choices"
Hey,
Can you please tell me how to add new location ( Country State and City ) ?

[2021-10-31 21:34] DarkObscurity opened #200 "New clients not showing up"
Hey!

I reinstalled ITFlow a few times now, but for some reason when I add clients, they do not show up.
I checked the database and they are listed in the database with the correct information, but I can't seem to get them to show up in the web interface.

Am I maybe missing something?

[2021-10-31 22:02] DarkObscurity commented on #200
I read through some other issues and found one saying records weren't correctly displayed when using MySQL, so I installed MariaDB and now everything seems to work..

Maybe it's an idea to mention this in the installation section? :)

[2021-10-31 22:02] #200 closed

[2021-11-03 16:31] johnnyq commented on #199
Hi @Panchalhariom07 Create a client or click on an existing client under client listing. Click Locations on the Client Side Nav menu then choose new location. Fill out the info and that should do it. This allow you to add another location for a client.

[2021-11-03 16:33] johnnyq commented on #200
Good call will do @DarkObscurity

[2021-11-03 19:43] johnnyq commented on #199
@Panchalhariom07 I see what your saying. The State and Country is currently staticly embedded in the code and is not programmed in. Im going to have to update the code to include all countries and states within the country. For Example if you selected India for country then the state select list will only show states in India same for Canada and USA etc. I'll see if I can find some code online tha

[2021-11-04 03:49] johnnyq commented on #199
Okay after doing some research I think the best thing to do is make state a text input instead of a select, and leave country as select but introduce all countries, ill get this fixed up before the end of the week

[2021-11-04 04:21] johnnyq commented on #199
Complete 72cf61ab61c3b91324ea71b9795cf978abdf6ff0
Also added all the countries and states are now text fields

[2021-11-06 23:30] DarkObscurity opened #201 "A few ideas/questions"
Hey!

I love the product and have been looking around  in it for a little and a few questions/ideas came to mind!

I have been working quite a lot in IT-Glue in the past and for my own purpose I was looking for an open source alternative and this is the only project so far that comes close to it! So I'm really grateful for that!

I did have some questions regarding the documentation part.
IT-Glue

[2021-11-08 19:52] johnnyq commented on #201
Thank you for the kind words @DarkObscurity

1. Yeah I agree, the tiny modal window for documentation is quite limited. I will eventually make this full screen and allow folder, subfolder categorization of documents along with PDF exportation some time in the very near future.
2. I think that would be great for assets,in fact we may be able to make an asset documentation relationship to the docume

[2021-11-08 19:55] #199 closed

[2021-11-08 22:12] DarkObscurity commented on #201
Really nice to hear! If you have something in BETA I would love to test it for you.
My coding knowledge is quite limited, but I'm an IT Infrastructure/Cloud Engineer so working with servers and stuff is my thing!

I actually have access to IT-Glue, so if you want I could give you a lot of info if you'd like!

It would be amazing to have the documentation capabilities of IT-Glue in an open source s

[2021-11-10 16:41] johnnyq commented on #201
hi @DarkObscurity I wanted to send you a PM and I don't have your contact info. Send me a message on our contact form so I can get in touch with you https://pittpc.com

[2021-11-12 21:06] DarkObscurity commented on #201
I've just send a message through the contact form!

[2021-11-16 20:07] johnnyq commented on #53
WIP

[2021-11-16 20:07] #53 closed

[2021-11-16 20:08] johnnyq commented on #55
Different Entities Closing

[2021-11-16 20:08] #55 closed

[2021-11-16 20:09] johnnyq commented on #56
this can be linked with the audit logs

[2021-11-16 20:10] johnnyq commented on #57
Closing as this has been completed with SSL

[2021-11-16 20:10] #57 closed

[2021-11-16 20:11] johnnyq commented on #58
closing not willing to do at this time

[2021-11-16 20:11] #58 closed

[2021-11-16 20:12] johnnyq commented on #85
Closing this is not really needed

[2021-11-16 20:12] #85 closed

[2021-11-16 20:12] johnnyq commented on #70
Closing we will use Google Maps in the meantime

[2021-11-16 20:12] #70 closed

[2021-11-16 20:13] johnnyq commented on #91
This is an upstream bug closing for now

[2021-11-16 20:13] #91 closed

[2021-11-16 20:14] johnnyq commented on #92
WIP

[2021-11-16 20:14] #92 closed

[2021-11-16 20:15] johnnyq commented on #190
DB Structure Added

[2021-11-16 20:15] johnnyq commented on #95
We will have to combine Queries for this to work, but is possible

[2021-11-16 20:23] johnnyq commented on #142
Skipping for now

[2021-11-16 20:23] #142 closed

[2021-11-17 16:21] DarkObscurity commented on #201
Hello @johnnyq

I filled in the contact form but haven't yet heard anything from you, did you get my details?

[2021-11-18 18:25] Somesite opened #202 "OTP not working properly"
OTP doesn't appear to be working. Generated codes are not correct.

[2021-11-18 22:17] aftechro opened #203 "Feauture request: Expenses - description"
Hi @johnnyq,

Hope you are well!

Was just adding the expenses, and looking at it, i feel like missing something.

For instance: on the /expenses.php can you also add a description of the expense so that would be easy to find it without being needed to click on it, for a faster check.

For instance, lets say i have same vendors but with different expenses. ATM, it`s only showing: vendor and catego

[2021-11-18 22:26] aftechro commented on #202
hey @Somesite

there`s still much to do on the OTP aspect.

@johnnyq is having a lot on his plate, but with patience, everything will be ready at one stage with future updates.

just keep an eye on this

[2021-11-18 22:38] johnnyq commented on #203
I agree! Currently I already have a description box but sometimes the text can be too big if their are multiple items on one expense. I think what will work is adding a Short Description field or maybe using the description field but truncating the current description to 50 characters to display nicely in list view. I'm leaning more towards a separate field for this though, what are your thoughts?

[2021-11-18 22:42] johnnyq commented on #202
@Somesite, @aftechro is right I have been really busy managing our business and it has gotten quite busy. This is something I would really like to accomplish as 2FA OTP (HOTP / TOTP) is huge these days. I have been mostly relying on Bitwarden for this job at the moment. Stay tuned.

[2021-11-18 22:43] aftechro commented on #203
i`m for the truncating the description to whatever number of characters the table permits 30-50.

or even better if not to much to ask, dont wanna push it :d
truncated description with preview of full description on mouse hover

[2021-11-18 22:46] johnnyq commented on #203
Nice! I like that idea, working on it as I type

[2021-11-18 22:50] aftechro commented on #203
Great! :D

I`ll let you clear down as much as you can, before putting there other feature requests :D

[2021-11-18 22:58] johnnyq commented on #203
Done! little easy detail things like this are nice. They make for a nice Quality of Life improvement. Keep up with the suggestions =]

[2021-11-18 23:10] aftechro commented on #203
Yep, that works just fine. Now it`s easier for both myself and accounting person to find what needed.
Thank you!

[2021-11-18 23:10] #203 closed

[2021-11-20 11:37] DarkObscurity opened #204 "Update problem/Database issue"
So let me rephrase my initial issue.

It seems that some things have/are going to change in the way the database is being created/filled over time due to changes being made during the development of IT-Flow.

This causes issues and in terms breaks function of the software when not handled properly.

I have noticed there is an update and a backup function in the web interface, however, the database

[2021-11-20 12:49] DarkObscurity commented on #204
Reinstalling seems do have fixed the issue, but this makes me wonder if I have to reinstall for each update?
Or are there certain steps to take?

[2021-11-20 12:50] DarkObscurity commented on #204
As an update I downloaded the new version from Github and then copied those files over the existing files since the update button gives me a blank webpage. (After copying the files, I did restore the permissions to the apache system user)

[2021-11-20 21:11] johnnyq commented on #204
Hi @DarkObscurity You are correct the update function currently does not work. I think it may help to put WIP in places where its not quite ready. I will start doing that to make it more clear. The easiest way to update the files is to use git. Git is extremely powful and know what has changed and will update accordingly.

To do an update go to the web directory where itflow is and type git pull

[2021-11-20 21:48] johnnyq commented on #204
1551ea7c9bf58fb9ac2574975f4b83a2190d7877

Basic Functionality has been added, just need to work on the DB Schema updates between commits

[2021-11-20 22:05] johnnyq commented on #204
I will add the DB Schema Functionality change on the next DB Schema update. Now it should hopefully be a nice rolling release.

[2021-11-21 10:52] DarkObscurity commented on #204
Sounds awesome! Much appreciated!

[2021-11-21 16:56] johnnyq commented on #204
Your very welcome thanks for pointing that one out. I completely forgot about the upgrade, i'm sure there are more sections I started I haven't finished yet. Ill do a crawl through and mark those ones as work in progress

[2021-11-21 16:56] #204 closed

[2021-11-21 18:03] johnnyq commented on #191
f939ca41aac5972e1fc96d68b8ab5225d8c48961

[2021-11-21 22:34] obsjmartin opened #205 "Integrations / api documentation"
Nice project. I really like what I see so far. One of the biggest selling points of itglue was the ability to import client records from connectwise or autotask. I realize this is a tall task for an open source project that's just gotten off the ground. Does the api allow for record creation?

Another api question. Can the api allow for user accounts to added and removed from groups? I'm thinking

[2021-11-22 15:35] johnnyq commented on #205
@obsjmartin Thank you for your interest in this project, im glad it can be of use. The API is very limited at the moment and does not have the functions you describe. Also we do not support Google/Azure AD OAUTH2 support at the moment and may not right away until maybe OAUTH2.1 /3.0 comes out. There's a few privacy and security concerns surrounding the protocol at the moment along with some techni

[2021-11-29 23:01] Nate-09 opened #206 "No Clients?"
Hi Everyone,

I appear to be experiencing some issues with the clients in a fresh install on the latest project.

I've created three clients so far and all of the show in the Dashboard as seen below:
![image](https://user-images.githubusercontent.com/87747569/143956027-cc82cabf-626a-4611-bd35-10aa53a3f71a.png)

However when I attempt open a client I get a Records? whattt error
![image](https://use

[2021-11-30 01:35] johnnyq commented on #206
Are you using MySQL or MariaDB as your database?
Currently ITFlow has an issue with MySQL.

[2021-11-30 01:35] johnnyq commented on #206
Are you using MySQL or MariaDB as your database?
Currently ITFlow has an issue with MySQL.

[2021-11-30 02:45] Nate-09 commented on #206
Currently using MySQL.

So I'd be better off removing the web data and SQL and install MariaDB and re-run setup?

[2021-11-30 04:15] Nate-09 commented on #206
Hi @johnnyq Thanks for that, I was using MySQL, I've removed it and reinstalled with MariaDB and it works perfectly now.

[2021-11-30 04:15] #206 closed

[2021-12-05 02:01] johnnyq commented on #202
@Somesite @aftechro this should be fixed please test and let me know see fix 53380718b141072f532746135abffc5627978801

[2021-12-05 14:23] aftechro commented on #202
Great to see that Johnny, and much appreciate it.

just to make sure this is right, will the OTP generate multiple codes as below or should just generate and match the code as per other otp app?

![image](https://user-images.githubusercontent.com/38830718/144750488-260a1acf-b64f-4a1d-ab0a-08e4af84799c.png)

for instance, i get same code if i`m using app on the phone or extension in the browser on

[2021-12-06 01:55] ThatsNASt opened #207 "Passwords Show in Clear Text:"
When using the "Passwords" section for a client, all passwords I put in are shown on the page in clear text. I'm assuming they're supposed to be hidden/starred out, since there's a "View" icon you can click.

[2021-12-06 10:58] bmwe90 opened #208 "config.php doesn`t exist in the project"
Warning: include(): Failed opening 'config.php' for inclusion

[2021-12-06 12:50] #208 closed

[2021-12-09 02:40] johnnyq commented on #202
Hi @aftechro There is still something still wrong with the code. I think it may be related to the way my app is handling timezones. I need to continue figuring this out. It ended up being much more complex than I have imagined.

I will work on the a fix for the password reveal in listing.

[2021-12-09 03:16] johnnyq commented on #207
Fixed 85cdc42d0f15e36de5cab00d7f3c799a056e85ef

[2021-12-09 03:16] johnnyq commented on #202
I fixed the password reveal ended up using a popover for the big reveal worked like a charm

85cdc42d0f15e36de5cab00d7f3c799a056e85ef

[2021-12-09 06:14] ThatsNASt opened #209 "Unable to Modify Assets after Update:"
I have updated to c88e6b851aadfbde173f7cfe7155dd1ed31adece and after I am unable to modify an asset that I already have in the system. I can add a field and save it, but it doesn't actually show up as changed. Log shows I've changed an asset, though.

[2021-12-09 08:36] aftechro commented on #202
Hey Johnny,

That's great, much appreciated!

Thank you!

[2021-12-09 16:33] adamjrberry opened #210 "Passwords containing " character do not save correctly"
Test password: Sr)vt2"}z6HtKcya

When saving this test password, it returns:
![image](https://user-images.githubusercontent.com/63184938/145437071-1e0a28c3-9a88-4a23-bddb-233ce46aeeb1.png)

When I remove the speech marks ", the password saves correctly.

[2021-12-09 22:52] johnnyq commented on #210
I think i fixed this go ahead and update again, this is due to the new sql field install_date that was added to assets. The new update should add the appropriate field to the DB

[2021-12-09 22:52] johnnyq commented on #209
I think i fixed this go ahead and update again, this is due to the new sql field install_date that was added to assets. The new update should add the appropriate field to the DB

[2021-12-09 22:53] johnnyq commented on #210
Thanks for reporting. Im on it

[2021-12-10 04:46] mkono87 opened #211 "Cannot complete setup, just goes back to start."
I cannot seemed to get back the setup. I have tried connecting to my remote mariadb instance on the same LAN and created on locally. Once entering all the information and submit it, it just goes back to the setup page where I started.

On a side note, your DEMO is asking for OTP. How can one get into that??

[2021-12-10 05:35] johnnyq commented on #211
Hi @mkono87 We were doing some work on the code you may have cloned the code earlier try again, we just installed it on a HestiaCP platform with Apache and MariaDB a half hour ago.

The Demo site is working again, 2FA was set

[2021-12-10 05:36] mkono87 commented on #211
Much appreciated thanks!

[2021-12-10 14:39] mkono87 commented on #211
Just cloned the repo again and tried setting it up but im facing the same issue of it going back to the beginning. Also tried local and remote mariadb, not sure if thats the issue but shouldn't be.

[2021-12-10 18:35] #210 closed

[2021-12-10 18:37] johnnyq commented on #210
Hi @adamjrberry They were being save correctly in the DB however certain HTML characters were not escaped under output. This should be fixed Thanks for the the report.

[2021-12-10 18:46] johnnyq commented on #211
Im not sure if you done this. You will want to create the database and database user along with the password using phpmyadmin or using mysql commands and then run setup. Also anything in the apache errors logs?

[2021-12-10 18:46] #207 closed

[2021-12-10 18:46] #209 closed

[2021-12-10 21:51] mkono87 commented on #211
phpmyadmin is exactly what I used. Just want to make sure, does it want http://   or just ip:3306?

Il check the errors again when I get a chance.

[2021-12-11 02:57] mkono87 commented on #211
@johnnyq Here is a bunch from the logs. Maybe you can point something out.

https://pastebin.com/vKEp4222

[2021-12-11 18:54] johnnyq commented on #211
@mkono87 It looks like config.php is missing and not being created. I bet this is a permission issue.

Make sure the the directory owner has read write permission over the files

usually www-data

so if your itflow files are in /var/www

do a chown -R www-data:www-data /var/www

[2021-12-11 23:57] LefflerMediaLLC opened #212 "InvoiceNinja Integration"
This would be awesome if I could import invoices/etc from InvoiceNinja

[2021-12-12 01:39] johnnyq commented on #212
@LefflerMediaLLC

That should be possible, I used an app called akaunting before ITFlow and was able to import that data using SQL row matching to ITFlow. It took some time but it worked out.

Are you planning on using InvoiceNinja with ITFlow or just switch to ITFlow fully

[2021-12-12 11:18] adamjrberry commented on #210
Thank you very much! Yes it now works after updating :)

[2021-12-12 16:26] athornfam2 opened #213 "Keep Getting An Error When Setting Up"
https://github.com/johnnyq/dvis/blob/main/itflowcrminstall.sh used the script here and now at the end after adding the user, user password, and database name I get an error database connection failed.

[2021-12-12 19:11] johnnyq commented on #213
Hi @athornfam2 go into the folder /var/www/YOURDOMAIN and rm the config.php
start over and put in itflow for username and itflow for database In all lower case
The info at the end of the script is incorrect and tells you to enter ITFlow I will fix this.

[2021-12-12 22:51] athornfam2 commented on #213
Ok. I got past that where it at least shows the page... but I got my information in a string that goes across the login page...

What's the default login information for a new build?

[2021-12-13 03:44] johnnyq commented on #213
Hi @athornfam2 send me some apache2 logs ill take alook

[2021-12-13 03:44] johnnyq commented on #211
Hi @mkono87 did you have any luck?

[2021-12-13 03:48] mkono87 commented on #211
Have not had a chance yet but will tomorrow. Il report back.

[2021-12-13 11:05] bambilol opened #214 "-removed"
- removed.

[2021-12-13 11:10] #214 closed

[2021-12-13 11:13] bambilol commented on #214
- removed to responsibly disclose issue

[2021-12-13 11:17] bambilol commented on #214
Please contact me to discuss a discovered Unauthenticated Persistent XSS Vulnerability
will@bambi.lol

[2021-12-13 17:09] mkono87 commented on #211
@johnnyq Yes that seemed to work thanks!

Another question if you dont mind instead of creating another issue. Is it possible at all to change the listen address? The system id have it on has a reverse proxy in front so this cannot use 80. Only other solution would be convert this in to a docker container so I can pass another host port.

[2021-12-13 18:13] sirwoobarb opened #215 "Currencies all over the place."
Hey Johnny and friends.

I'm enjoying this product very much and hope to see it blow up huge.

Just a quick bug - I've change currency to GBP during setup as we are based in the UK, but there are still dollar signs everywhere. Revenue, for example, is still in dollars, invoices too, and accounts.

Unless I'm missing something, is it possible to change currency globally? We deal only with UK client

[2021-12-13 22:00] DarkObscurity commented on #211
The listening address/port is determined by the software you're using to host the website like Apache.
On what kind of software/environment are you running? And as well, if you're using a reverse proxy you should be able to pass through the connection to a different machine that is listening to port 80, you'd only run into problems when you're running the reverse proxy on the same machine as you'r

[2021-12-13 22:08] johnnyq commented on #215
Hi @sirwoobarb Thank you for your interest in ITFlow

As long as you set your company to your currency it should be good, we just haven't updated the currency symbol everywhere, ill leave this open for tracking and get to work on this.

[2021-12-14 02:16] Wikiphil opened #216 "Taxes with decimal %"
Hi,

In the taxes fields, we're not able to use decimals number. In the area where I'm living, one of the taxes a 9.975%.

There is a warning telling me: "Please enter a valid value. The two nearest valid values are 9 and 10."

Where I can modify this behavior?

Regards,

[2021-12-14 04:46] johnnyq commented on #216
Hi @Wikiphil Currently not possible, ill work on an update this week that resolves this.

[2021-12-14 05:58] johnnyq commented on #214
Thank you for reporting this @bambilol we have updated the code accordingly

[2021-12-14 16:58] #216 closed

[2021-12-14 16:58] johnnyq commented on #216
Fixed go ahead and update @Wikiphil

[2021-12-14 18:03] johnnyq commented on #215
Hi @sirwoobarb This should be fixed now goa ahead and update and let me know if I missed anytihng

[2021-12-14 18:04] johnnyq commented on #212
@LefflerMediaLLC Goign to close this for now as this is possible with SQL column matching

[2021-12-14 18:04] #212 closed

[2021-12-14 18:04] sirwoobarb commented on #215
You're a super star, thank you, I'll update and play this weekend!

On Tue, 14 Dec 2021, 18:03 Johnny, ***@***.***> wrote:

[2021-12-14 19:12] HollowCyberSec opened #217 "Tax rate issues with 0.5%"
The tax rate can only be set to whole numbers. In my case, our tax rate is 11.5 and cannot be set up.

[2021-12-14 22:20] dinger1986 opened #218 "unable to sign into demo"
demo needs mfa so cant sign in

[2021-12-15 00:29] athornfam2 commented on #213
[access.log](https://github.com/johnnyq/itflow/files/7715600/access.log)
[error.log](https://github.com/johnnyq/itflow/files/7715601/error.log)

These are the only apache log files I have and they don't have much in them from what I could see.

[2021-12-15 10:08] sirwoobarb commented on #215
I updated and it looks great, thank you very much!

[2021-12-15 15:38] johnnyq commented on #218
Hi @dinger1986 should be fixed now. I need to find a way to disable MFA for the demo

[2021-12-15 15:38] #218 closed

[2021-12-15 15:40] johnnyq commented on #217
Hi @HollowCyberSec This was recently fixed with commit f2763476a34dce7fc21008817923209df7344c96
Once updated it should work

[2021-12-17 03:00] HollowCyberSec commented on #217
Tested! Thanks, works like a charm!

[2021-12-17 03:00] #217 closed

[2021-12-22 21:42] johnnyq commented on #213
Hi @athornfam2 Sorry I missed this post. I fixed the issue that was causing the setup script to get hung up. Give it another Whirl but don't use the install script as that needs rewritten follow the installation instructions in the readme.

[2021-12-22 21:43] johnnyq commented on #211
@mkono87 I belive this is fixed now please try and report back @mkono87

[2021-12-22 21:44] johnnyq commented on #205
closing this issue for now, we may implement it further down the road but must crunch out the high priority things first.

[2021-12-22 21:44] #205 closed

[2021-12-22 21:45] mkono87 commented on #211
What are you referring to, the listen port?

[2021-12-22 21:48] johnnyq commented on #211
"Cannot complete setup, just goes back to start"

[2021-12-22 21:49] johnnyq commented on #166
Closing as this has been complete may need some polishing but it is working

[2021-12-22 21:49] #166 closed

[2021-12-23 20:10] mkono87 commented on #211
Oh I already told you the setup now works, thats why I was confused. https://github.com/johnnyq/itflow/issues/211#issuecomment-992688313

[2021-12-23 20:14] johnnyq commented on #211
lol it would help if I read that Thanks @mkono87 Ill close this out

[2021-12-23 20:14] #211 closed

[2021-12-23 20:14] johnnyq commented on #213
@athornfam2 Any luck?

[2021-12-23 20:56] athornfam2 commented on #213
I haven’t had a chance to look at it. I’ll see what I can do tonight or tomorrow.

[2021-12-25 10:04] calculatetech opened #219 "Certain db passwords don't work"
I'm installing ITFlow on a Synology with MariaDB 10 and struggled getting the database configured.  Turns out the password I generated doesn't get parsed correctly somewhere.  The password was ??36$certain$TORE$should$86??.

[2021-12-27 17:26] athornfam2 commented on #213
Everything is working now.

Also, the script does work. Not sure how to make a contribution to the script but here's what I changed and tested below on 20.04 LTS

`sudo apt-get install -y mysql-server`
`sudo mysql_secure_installation`

to

`sudo apt-get install -y mariadb-server`
`sudo mariadb_secure_installation`

[2021-12-27 17:32] johnnyq commented on #213
Fantastic I will get that added Thanks for the update

[2021-12-27 17:33] #213 closed

[2021-12-27 17:59] johnnyq commented on #213
Okay I updated the script to include the changes, I made a few others as well.

[2021-12-27 21:54] athornfam2 opened #220 "Bug: Import Function"
The import function under customer assets does not work. Export does work though.

Troubleshooting:

* Tried Firefox
* Tried IE11
* Tried from my RDS farm and workstation
* Attempts were done only locally as the system is not accesible outside the LAN

[2021-12-27 21:56] athornfam2 opened #221 "Feature Request: Time Entry"
Would like to request a feature. A popular feature I would use in CW was to track time based on ticket entry at the comment or sent response. When I went to go in to make a ticket and then track the time I didn't see that function unless its hidden in the system settings.

Feature Request: Add a time based entry system at the ticket level.

[2021-12-27 21:59] athornfam2 opened #222 "Feature Request: Account Integrations"
I'm not sure if any plans are on the road map but having a way to integrate an IDP or local LDAP would be pretty handy

Feature Request: Add SSO or local AD/LDAP integration

[2021-12-27 23:05] athornfam2 opened #223 "Feature Request: Ability To Set Idle Timeout"
Wanted to request an option to allow each user or by global policy an idle timeout policy. I feel the current/default one is too short and it would be nice to set it based on choice.

[2021-12-28 01:23] johnnyq commented on #220
@athornfam2 Your right its there for show right now, still haven't implemented that function. Ill keep this open until then

[2021-12-28 01:24] johnnyq commented on #222
Maybe sometime in the future we'll add the functionality

[2021-12-28 01:24] johnnyq commented on #221
good idea! that would make a great additon, ill try to get this added very soon.

[2021-12-28 01:26] johnnyq commented on #223
sounds like a good idea i will implment this soon as well

[2021-12-28 01:28] johnnyq commented on #219
@calculatetech I can replicate I think the $ is causing the issues its mimicking a php var ill work on this

[2021-12-28 15:34] aftechro commented on #221
That`s a tricky one, as we all know there are times when you can answer right away with a solution, or you may need to do a research in getting and trying different solutions.

The way i work, probably like many others... i dont count the time spent on replying to a ticket instead i`m using this system:
- for maintenance clients - support is included, no time to record
- for non-maintenance - ther

[2021-12-28 17:13] athornfam2 commented on #221
@aftechro I think my request was more to just have a time entry in general as each MSP and tech (I used a tech SysAdmin) has different formula's to their work. I wouldn't want any entry's to be fixed (ex .25 .50 .75)... Like you said that phone call only may be 3 to 5 minutes... So I still want a time entry but make it a NB (non-billable charge) but still counts towards tech time and as a response

[2021-12-28 18:56] athornfam2 opened #224 "Bug: Ticketing Bad Request"
Getting an error when click on the following buttons below.

![2021-12-28 13_55_24-Window](https://user-images.githubusercontent.com/74559383/147598010-79515b27-3547-4d28-af76-71c4d99ab4bd.png)

![2021-12-28 13_45_02-Window](https://user-images.githubusercontent.com/74559383/147597977-45617e5c-71d9-4982-9390-d620933f1d6d.png)

[2021-12-28 19:58] athornfam2 opened #225 "Feature Request: Ticketing System Improvements"
* Create a way to send tickets from customers through e-mail and then parse base on domain name
* Add more to reporting (Average Response and Resolution Time, Service Requests, Ticket satisfaction)
* Add a "smiley response" (customer feedback based on ticket which will eventually be stored under their customer ID)
* Candid responses
* Round-robin ticket selection
* Waiting for response/customer -

[2021-12-29 02:47] HollowCyberSec opened #226 "Mail Settings Error"
Added mail settings, when testing email page keeps attempting to load but never does. If you try to change tabs or refresh the page it doesn't do anything. You have to close it down, clear the cache, and log in again.

[2021-12-29 14:03] aftechro commented on #226
Not sure if this a local issue on your end, but try to download latest version and follow the instructions from DOCS section
Have a look here: https://itflow.org/docs.php?doc_id=2

everything up and running for my live versions as well on my dev version (which pulls all the new changes)

[2021-12-29 14:05] aftechro commented on #224
getting the same, let`s keep an eye on this and hope Johnny will have time to look at this, as i know he`s quite busy on many other tasks

[2021-12-30 22:09] athornfam2 opened #227 "Feature Request: Asset Management"
* Ability to duplicate assets
* Ability to quick edit
* Bulk edit existing assets (delete, change category, owner, etc)

[2021-12-31 04:19] johnnyq commented on #227
Yes very good requests, keep them coming

[2021-12-31 04:36] johnnyq commented on #226
Any Luck? Who are you using for a mail provider @HollowCyberSec

[2021-12-31 04:37] johnnyq commented on #225
All good requests but have to work on most important things first keep em coming

[2022-01-02 16:48] johnnyq commented on #219
Hi @calculatetech an anonymous person submitted a fix for this issue, go ahead and give it a shot and let me know if its working for you now

cf3c0a64106ea27ac432d8bba4826b5f1b7b881e

[2022-01-04 20:43] wrongecho opened #232 "Ticket Details is vulnerable to XSS"
The ticket details & ticket replies are vulnerable to cross-site scripting.

To replicate, open a new ticket with the description `<script> alert(1) </script>`

Normally this is easily fixed with strip_tags/htmlentities, however as part of summernote we probably want to allow some HTML formatting right?

They have a discussion open regarding this, but their perspective generally seems to be that i

[2022-01-05 04:43] DiemenDesign commented on #232
We are open to changes to have the Summernote API sanitise input/output, even though the App should also be santizing data. For contributions and discussion, please refer to https://github.com/summernote/summernote/pull/3782
Current solutions that have been tested, end up muxing the html markup, obviously this isn't desired.

[2022-01-05 05:47] #224 closed

[2022-01-05 05:50] johnnyq commented on #232
@wrongecho Your right i didn't know a good approach to attack this issue and just warded it off as user that have an access are assumed trusted, but if we allow external public input this indeed would be a serious issue.

[2022-01-05 05:56] DiemenDesign commented on #232
@johnnyq The Summernote project are open to workable solutions that will benefit all users. So far we haven't been able to come up with a working solution (apart from sanitation outside of the Summernote API) that doesn't break html formatting.

[2022-01-05 06:24] johnnyq commented on #232
@DiemenDesign I think your right and it should be done at the backend layer I just have to figure out the best approach using Plain old PHP with no framework

[2022-01-05 06:27] DiemenDesign commented on #232
I use HTMLPurifier in my project, it's not huge, it's fast, and simply works. I too spent a lot of time trying to work out a solution, and found HTMLPurifier and figured why reinvent the wheel.

[2022-01-05 14:43] wrongecho opened #237 "Ticket System "view" issue/bug"
Hello,

When you work on a ticket for a client, it changes the view back to the general management view (i.e. showing tickets/vendors/calendar, etc) rather than the client info. I think the sidebar should show you options for that particular client when viewing the ticket page for easy access to their data: contacts/assets/logins.

This feels like a bit of an annoying one as we only want to change

[2022-01-05 15:40] wrongecho opened #238 "Feature Request: Workflows"
## Workflows / Checklists
I'd like to propose a feature of "workflows". I see a workflow as a way of keeping track of checklists of things you have to complete fairly regularly in response to a ticket/service request. Workflows can be linked to a document detailing the exact procedures to complete each workflow item.

Similar to something like this: https://docs.servicenow.com/bundle/rome-platform

[2022-01-05 15:51] wrongecho commented on #232
Thank you for the suggestion, @DiemenDesign.
I've had a go with the demo at http://htmlpurifier.org/demo.php?post in conjunction with https://portswigger.net/web-security/cross-site-scripting/cheat-sheet and this seems to do the trick nicely.

[2022-01-06 04:55] johnnyq commented on #238
I think its a great idea @wrongecho although I need to fix existing bugs and make sure what was already created, functions like it should for the 1.0 release, but im deff not opposed to this. I m grateful for your contributions

[2022-01-06 04:57] johnnyq commented on #237
agreed ill see if I can tackle this one

[2022-01-06 23:04] wrongecho commented on #225
If I could add to this just as somewhere structured to track my ideas...
- Scheduled tickets (automatically raised weekly/monthly)
- Time tracking
- Merging
- Linking tickets to a master ticket
- Different ticket views/filters (e.g. my tickets, unassigned tickets, my team's tickets)
- Ticket types: incident/service request

[2022-01-06 23:08] athornfam2 commented on #225
@wrongecho check out ticket #221

[2022-01-06 23:14] wrongecho commented on #221
I too like the idea of the timer that just counts up as you work, but you can edit it.
Similar to this: https://docs.servicenow.com/bundle/rome-platform-administration/page/administer/time/image/TimeTimeworked.png

[2022-01-06 23:18] wrongecho commented on #225
@athornfam2, thanks for pointing that out!

[2022-01-06 23:35] wrongecho opened #241 "Feature Request: Changes and Problems"
Hey Johnny,

Again probably more of a feature once we've got past 1.0, but I think eventually the ability to track changes and problems (repeating issues/known errors) would be handy.

**Changes**
- Client & Contact
- Assigned to
- Name/Description
- Related Assets - multiple
- Start date time / End date time
- Implementation steps
- Testing steps
- Rollback steps
- Approvals
- Stages: Draft/Autho

[2022-01-07 16:23] wrongecho commented on #220
@athornfam2 I've added basic functionality for this in #248, with basic API asset import functionality in #249.

[2022-01-07 19:41] johnnyq commented on #241
Thank you @wrongecho Im super grateful to your contributions as well!!

[2022-01-08 19:40] wrongecho commented on #221
Hi both, I've submitted a pull for this. I've gone for the accurate time-tracking approach. I guess if you want to bill on the time, we can add it up and round it in the calendar and then/or report/billing?

[2022-01-10 00:31] wrongecho opened #264 "Asset login encryption thoughts"
Just some thoughts on how ITFlow is handling the encryption of asset/login passwords (not like login to the app itself).

**No salt when encrypting passwords**
If you encrypt two login entries with the same password, you get the same output. Presumably, this is due to no salt/IV.
We should probably be salting passwords?

**Storing AES key in database**
Currently, we're storing the AES encryption k

[2022-01-10 04:06] johnnyq commented on #264
I know the AES key being stored in the database is definitely not the best of ideas. I like option 2 where we encrypt the AES key for each user. All users should be using good passwords anyway. I believe this is how big password managers like Bitwarden do it.

[2022-01-11 23:09] aftechro opened #268 "Feature request: Contact option"
When creating the company, on the contact section should be added the main company number and email address - call it $main_contact
so under the Client card on ticketing will be displayed the main phone number of the company. If the user doesnt have a DD number, the technician can just click on the main number associated with the client, and can then ask to be transferred to the contact

Alternati

[2022-01-11 23:25] wrongecho commented on #264
#265 resolves this issue.
As a summary:
- At setup, a "master" AES key is generated and is encrypted with the initial user's password. This is done using PBKDF2 and a salt to generate a 128-bit key. AES-128-CBC (+ IV) is then used to generate the encrypted password. This is the "user specific key".
- Upon login, the user's password is used to decrypt their Specific Key in order to retrieve the mas

[2022-01-11 23:25] #264 closed

[2022-01-11 23:51] wrongecho commented on #268
For the phone element, we could possibly cover this under the primary location phone entry (and extend that to allowing a generic e-mail for the primary location as well maybe)? What do you think?
![location-phone](https://user-images.githubusercontent.com/32306651/149039135-98c99700-a302-4fd5-a3cc-79ebd2123979.png)

[2022-01-11 23:57] aftechro commented on #268
Is not harm in having it, but from my experience at least, there are not so many companies with multiple locations, most ov them have single. Sure, you could have a company with primary as head office and secondary as warehouse and so on. So, it's good to have it, and use it where necessary 

Sent from Yahoo Mail on Android

  On Tue, 11 Jan 2022 at 23:52, ***@***.***> wrote:

For the phone elemen

[2022-01-12 00:07] wrongecho commented on #268
My suggestion was to populate the primary location with the phone number (as the code and database fields are already there for this) and then we can just add some code in the ticket client field to show the primary location / main contact number? :)

Here's what I mean:
![location-phone-2](https://user-images.githubusercontent.com/32306651/149040800-aef5d694-3ca7-4166-91ed-84c6d954f3a4.png)

[2022-01-12 00:17] athornfam2 opened #269 "Feature Request: Auto Update Option"
Feature I think is pretty self explanatory...

It would be nice to have a bash script to git or wget download and execute to update the installation or have a set of solid update instructions.

An example would be bookstack. Pretty easy for me to setup a cron job to auto update every few weeks non-production and then update on production.

[2022-01-12 04:01] johnnyq commented on #268
@wrongecho That looks and sounds good to me. The primary location should be the main number

[2022-01-12 04:32] johnnyq commented on #190
d23d455cd9ee9c86c3e16ceb0d1f318e95620806

[2022-01-12 04:34] johnnyq commented on #190
still need to be able to search client tags within the client listing not sure the best way to implement this. Also Display up to three tags and add a line break so tags don't run off

[2022-01-12 08:27] aftechro commented on #268
Ohh yeah, that's sounds good. Didn't understand it first, late night here haha

Sent from Yahoo Mail on Android

  On Wed, 12 Jan 2022 at 4:01, ***@***.***> wrote:

@wrongecho That looks and sounds good to me. The primary location should be the main number

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You a

[2022-01-13 20:31] johnnyq commented on #269
Hi @athornfam2 I agree although we are still Beta and hope to have easy upgrade paths in the future. Currently you can upgrade ITFlow by going to settings > General > Update Although it currently doesn't update database table structure as of yet. We also do not recommend automatic updates as sometimes auto updates can break things.

[2022-01-13 22:38] aftechro opened #273 "Feature: Recurring Calendar Event"
After submitting the new event, when open the event, description removed. If type and save again, does not updates after Save.
not sure if it`s mariadb versus mysql

also, if you change repeat mode from none to day/week/month does not take any effect

[2022-01-13 22:56] johnnyq commented on #273
ooops it worked for events but not client event, forgot to add a VAR there.

Im not sure how to implment repeat and have it show on the calendar it seems like it will have to be a mix of javascript and php

[2022-01-13 23:41] wrongecho commented on #273
@johnnyq - Hmm, this is a tricky one.
We could do it as we did with scheduled tickets by having cron.php check for recurring events and add them every evening but then you wouldn't see them right away on the calendar?
Alternatively, if we are going to add them at the time the event is first created. how far ahead do we go (a month? a year?)? Also, what happens if we want to then edit all those eve

[2022-01-14 00:57] johnnyq commented on #237
I think the best way to tackle this one is to check the referral GET VAR client_id in the uri

if client_id was in the uri then show the client_side_nav otherwise show the main side_nav

[2022-01-14 04:35] johnnyq commented on #269
closing as this is already set for 1.0

[2022-01-14 04:35] #269 closed

[2022-01-14 04:36] johnnyq commented on #226
closing was not able to replicate

[2022-01-14 04:36] #226 closed

[2022-01-14 04:38] johnnyq commented on #222
closing this for now, we may implement way down the line after 1.0

[2022-01-14 04:38] #222 closed

[2022-01-14 16:00] crnbezuidenhout opened #275 "Currency & Ticket System"
Awesome application/site btw...
I have downloaded the files and started playing around... one powerful application.

I have noticed that when sending a invoice/quote via mail, the currency symbol stays as $ and not via the currency selected.
Also when creating tickets, the response or email does not get sent to the client.

[2022-01-14 16:40] wrongecho commented on #275
Welcome @crnbezuidenhout!
We're still in beta with the application at the moment so a lot of features are still in development or may have bugs.
In terms of the e-mail currency not showing for quotes/invoices, I've just submitted a pull request to fix that, nice catch.
We still need to implement e-mail functionality in tickets. Outgoing emails should be relatively simple but processing replies is

[2022-01-14 16:46] crnbezuidenhout commented on #275
Thanks Johnnyq/Itflow

I will play around and will keep you posted should I find something.

Again this is a super awesome idea and I love the fact that it's invoplving
the community.

I have noticed the following so far:
- within tickets, its keeps showing "Needs Approval" on the right hand side
- The Invoice button does not do anything ( not a big deal as its still
beta )
- When a mail is sent,

[2022-01-14 17:06] wrongecho commented on #275
I totally agree - I love the fact that this application is open source. It has such potential!
On that note, if you find anything that you can fix yourself (even if it's just a typo, etc), feel free to submit a pull request. I'm sure Johnny appreciates all the help he can get.

I know that the "Needs approval" & Invoice button in ticketing was only recently added. I think the option is for break/f

[2022-01-14 18:21] crnbezuidenhout commented on #275
_

_

Yes so basically redirecting you back to the invoice\quote page where once dos not have to manually go back...

So from "post.php?email_invoice=8" it then gets redirected to "invoices.php"... after as second or 2... same with quotes and the rest...

I only have basic knowledge when it comes to these type of stuff, so will try my best to assist where possible...

how does one then make change

[2022-01-14 20:01] johnnyq commented on #275
Added Currency Symbol in a few more places

f8e9c2ee5dbe44ed66ce0faca3b8f063b0dff673

[2022-01-14 20:05] johnnyq commented on #275
Thank you for your feed back @crnbezuidenhout
You can help in many other ways besides code commits
here are a few ways to help:

- Report bugs, feature (keep it one bug one feature per github issue)
- UI/UX Suggestions improvement (Wiremaps, diagrams, flow etc)
- Documentation (This can be added to itflows website
- Youtube Videos
- Getting the word out there.
- All helps

[2022-01-14 21:57] wrongecho commented on #275
@crnbezuidenhout

I agree, it makes more sense to send you to the main quote/invoice page after sending the e-mail rather than back to that specific invoice/quote...I'll add it to my list.

As Johnny said, there are other ways to contribute without coding... But if you are interested in learning a bit more about the code side of things, feel free to take a look at [this](https://www.dataschool.io/

[2022-01-15 02:05] aftechro commented on #57
so, managed to do the fetch for SSL expire and submitted pull request, have a look at that

also, i`ve played a bit and i managed to do this:

- if you add the data to domains section, the SSLs will be automatically added to Certificates and will show the data, so the user dont need to add data both in domain and certificates section

![image](https://user-images.githubusercontent.com/38830718/149

[2022-01-15 17:14] johnnyq commented on #42
This will require a bit of Javascript im going to clue @wrongecho in to possibly take a look at to see how he would approach this.
This would use a typeahead approach

[2022-01-15 17:28] johnnyq opened #287 "Logo - Color Palette - Forums - Better Website - Other Materials"
- Yes we need a logo
- Good Color Palette
- and maybe some marketing materials (Letter head stuff)
- was looking at AI generated marketing material and Logos at https://logoai.com
- Better Site (obviously logo and Palette need to come first) (Also has to be static)
- Better Forums (Discourse)

All this will help bring the project the together and bring a wider community onboard

[2022-01-15 21:56] wrongecho opened #288 "Tracking installs"
As discussed, it'd be a good idea to get some vague numbers over time of installations. This needs to be **strictly opt-in** to protect privacy.
Might be best to do on the initial setup, at least at first? Can be something as simple as a GET request to an itflow.org page?

Data to collect:
- Current version (we need to add versioning to the database?)
- Country/language of install -- Could possibl

[2022-01-15 22:00] johnnyq commented on #288
That sounds good I have something like this in place for SimpNAS a project that I haven't worked on for a very long time. I can take on this one if you haven't already?

[2022-01-15 22:18] wrongecho commented on #42
Going to look further into this.

[2022-01-15 23:06] aftechro commented on #287
i like these ones:
1. ![image](https://user-images.githubusercontent.com/38830718/149640159-9721b4ea-8442-464d-a279-39701d59a051.png)
2.
![image](https://user-images.githubusercontent.com/38830718/149640229-94acd0fa-2db2-4e7e-8c11-73952c48cf2b.png)

3.
![image](https://user-images.githubusercontent.com/38830718/149640443-a5d9b5c0-29c3-4583-b0d2-f11a8b226771.png)

[2022-01-15 23:09] wrongecho opened #289 "Feature Request: Domains / SSLs - Versioning"
Agree with both of you, we just need to find the best approach based on each experience. I played a bit with that code, and i was so happy that i succeeded to do such big thing in developing :d I`m sure with practice, in few months i can get better and better :D

- my logic and of course, based on experience - certs should be pulled from domain section, and allow manual input for vpn or other doma

[2022-01-15 23:34] aftechro commented on #289
That's sound great and I know it's log of work on this part as well on all the other sections, but I'm confident that with all the help we can get, this will be a great project

[2022-01-16 19:39] #42 closed

[2022-01-16 21:34] Wikiphil opened #292 "Bug: Hide Password by default for software and Logins OTP Key"
Hi,

I know, it's not issues. If it is not the right place, let me know.

Can I suggest to hide by default some password fields?

Some pages where I saw clear text passwords:
Assets \ Software \ Login
Assets \ Logins \OTP Secret Key

Other request:
Display Global vendors in CLIENTS. May be diplay (global) at the end or split drop list "Global/Client".

Regards,

Philippe

[2022-01-16 21:36] johnnyq commented on #287
I like those too, the problem is I like so much Im really gonna thing on this hahaha

[2022-01-16 21:37] johnnyq commented on #287
New Forums is up at https://forum.pittpc.com much more features than our custom basic forum.

[2022-01-16 21:38] Wikiphil commented on #292
About the common vendors, sorry, I see the request #101.

Regars.

[2022-01-16 22:31] johnnyq commented on #101
This is very much needed just not 100% the best way to implement this one

[2022-01-16 22:37] johnnyq commented on #292
I see it I will get those fixed good catch

[2022-01-16 22:39] johnnyq commented on #288
5fdf956eb44a1cb81da1e4671c88311619214c7a

[2022-01-16 22:42] johnnyq commented on #288
It has been done.

I setup a URL https://telemetry.itflow.org This is where the data will be sent if a user opts for basic data collection during setup. This should help track the numbers of installs along with some basic geographic data along with comments to help further improve ITFlow.

I will upload telemetry source code to github tomorrow

[2022-01-16 22:42] #288 closed

[2022-01-16 23:54] Wikiphil commented on #292
Good. Let me know if you need a tester!

[2022-01-17 00:13] Wikiphil commented on #216
It Works!

Is there a way to merge multiple taxes?

As an example, in Canada, most of the provinces have 2 seperate taxes, we have to show them both on all invoices.

[2022-01-17 00:21] johnnyq commented on #216
Nice,

hmmm good question and I did not know that I guess we could add a column called tax2.

I think the best approach to this is see how other Invoicing software handles this ex invoiceplane, akaunting, craterapp

[2022-01-17 00:29] Wikiphil commented on #216
Instead of calculate tax on each items, we can calculate it on the bottom only. Most of the software do it that way.

Example:

1 x item #1      cost each 1.00$      1.00$
2 x item #2      cost each 1.00$      2.00$
10 x item #3      cost each 1.00$    10.00$

Subtotal            13.00$
Tax #1 - 5%         0.65$
Tax #2 9.975%     1.30$
Total with taxes  14.95$

[2022-01-17 00:35] johnnyq commented on #216
@Wikiphil Good idea we will take that approach. Register with our forum we just set it up today, hoping to drive some community there. https://forum.itflow.org

[2022-01-17 00:54] Wikiphil opened #293 "New installation loop on login"
Hi,

To test my installation procedure, I flushed the DB and the ITFlow directory, clone it back, give files/folders rights, recreate database, complete the setup and try to login. It is looping on the login screen.

In the Apache error log file, I see the following error:

Mon Jan 17 00:33:38.633784 2022] [php7:notice] [pid 1457] [client 10.250.10.90:60458] PHP Notice:  Undefined index: logged in

[2022-01-17 01:12] Wikiphil commented on #293
Ok, I started again. It works. I think there is some mandatory field missing in the setup screen. If I fill all the fields, it works.

Let me confirm.

[2022-01-17 01:15] Wikiphil commented on #293
May be missed something the first attempt! My bad! :-)

[2022-01-17 01:15] #293 closed

[2022-01-17 01:55] Wikiphil opened #294 "Saving an asset drops password"
- I create an asset, includes a login and password then save. Password is saved. (capture 1 and 2)
![1](https://user-images.githubusercontent.com/84292480/149688832-f81dbc1c-6c60-4bb8-99b2-202ddb03109a.png)
![2](https://user-images.githubusercontent.com/84292480/149688834-bf33e1e5-dd8f-4abe-a060-d050ae825ac3.png)

- Click on the key to see the login / password, it's there. (capture 3) and password

[2022-01-17 03:11] Wikiphil opened #295 "Date fields issue"
Hello,

When entrering manualy a date, year's part accepts 6 digits. We have to do right arrow to pass to month and day.

![date](https://user-images.githubusercontent.com/84292480/149702277-b81b66ee-4af9-4732-ae25-058049b20336.png)

![date2](https://user-images.githubusercontent.com/84292480/149702420-e3819425-39fe-495f-9ed2-6599ecc8cfea.png)

Regards.

[2022-01-17 03:28] Wikiphil commented on #202
Hello,
OTP is working and follow the beat! But, why 7 codes appear? I understand the code in the middle of all is the one to use.

+ Left "0" aren't appearing.
![OTP](https://user-images.githubusercontent.com/84292480/149703480-065e1db3-f1a6-417d-91d0-6fb961109623.png)

+ Copying icon copies the 7 current displayed codes...

Keep your good work! :-)

Regards.

[2022-01-17 16:14] #292 closed

[2022-01-17 16:18] johnnyq commented on #295
that is very strange mine is not that way. I have tried with Firefox and Chrome. What Browser are you using?

[2022-01-17 16:22] johnnyq commented on #294
good catch this must of happened when we refactored the way passwords are stored and retrieved from the database

[2022-01-17 16:34] Wikiphil commented on #294
Sorry bother with this stupid question:

What is the best way with git command to clone back the repo without drop my config?

[2022-01-17 16:42] johnnyq commented on #292
I nominate you as the bug tester. Much appreciated. just keep it one bug per issue and we'll get them closed out

[2022-01-17 16:43] johnnyq commented on #294
go into the directory with ITFlow and do a git pull this will update everything but wont touch your uploads directory or your config.php file

[2022-01-17 19:40] Wikiphil commented on #295
I use Microsoft Edge (Chromium bases) most of the time, suppose to be like Chrome.

Same issue in Chrome.

I'm not able to log in with my Firefox. I'll check this out later today.

I can try from somewhere else.

[2022-01-17 19:48] wrongecho commented on #288
Great work!

[2022-01-17 21:50] aftechro opened #298 "Help needed: Tickets.php stats"
Hey guys,

need your help with the right sql/php code

@johnnyq maybe you will post that discord chat so whoever wants to help with this or any other ideas, can easily communicate

I want the cards to pull the right details for each section: Total of tickets (to date), Total tickets open, total tickets closed, assigned, overdue and open unassigned

![image](https://user-images.githubusercontent.co

[2022-01-17 22:47] aftechro commented on #287
i inclining to the number 2 as logo, simple and modern in the same time. will go great as web logo and on business cards, t-shirts and so on :d what you think?

[2022-01-18 01:53] johnnyq commented on #298
@aftechro that looks great!! good idea! I see where the sql code needs some fixin, ill take a look tommarow sometime Thank you!! Ill go ahead and add the discord channel

[2022-01-18 02:15] johnnyq commented on #295
it must be a locale issue for some reason Canada allow 6 digit years

[2022-01-18 10:19] crnbezuidenhout opened #300 "Bug: Invoice / Quotes Footer - Displaying all in 1 line HTML and only displaying 2 lines for PDF"
The Footer of both the Invoice & Quotes does not reflect the full Terms or description added into the settings field, it only displays one line...

Downloaded Invoice:
![image](https://user-images.githubusercontent.com/97749452/149918175-60a9061c-79e0-4414-b032-b320a7f3497a.png)

Settings Page
![image](https://user-images.githubusercontent.com/97749452/149918268-a989663e-9eea-44c0-b613-2af422085fa

[2022-01-18 12:50] aftechro commented on #298
just donw know the echo for day/last month/year and so on :d once i`ll get one example, i can figure it out.
tried few things from google but did not work for me

[2022-01-18 17:27] crnbezuidenhout commented on #275
Hi, did another test and balance due still reflects the $ currency and not the country selected... please see below
![image](https://user-images.githubusercontent.com/97749452/149987742-c171f137-26ba-4bd2-86b9-543a830dd651.png)

[2022-01-19 04:23] Wikiphil opened #301 "Can't login after fresh installation"
Hi,

For a couple days, with the latest Git pull, I've had to redo my setup. I thought that it was my server. So, I restarted a new VM Ubuntu.

Ubuntu 20.04 LTS
MariaDB PHP and Apache2, basic configurations
No custom configuration in PHP or Apache, just as is.

I'm able to access the web interface to configure the ITFlow basic configurations.

![Dashboard](https://user-images.githubusercontent.com

[2022-01-19 04:29] Wikiphil commented on #301
I reseted to 01c5ba5, "Create LICENCSE", in that version, I'm able to login.

[2022-01-19 07:05] wrongecho commented on #301
Hey

Does your config.php include a variable called config_https_only ?
If not, go ahead and set it (or rename your config, reinstall and then merge the changes together).

[2022-01-19 12:17] Wikiphil commented on #301
Yes, buy I'm using it http, I didn't installed any SSL for the moment.

![config php](https://user-images.githubusercontent.com/84292480/150127774-c3500bc5-eeef-4373-815f-f03b7b1838de.png)

[2022-01-19 12:19] Wikiphil commented on #301
Ok, good. For test environment, putting "config_https_only" to FALSE workaround my issue.

[2022-01-19 12:20] Wikiphil commented on #301
Thanks for the tip!

[2022-01-19 12:20] #301 closed

[2022-01-19 12:31] wrongecho commented on #301
Glad you got that sorted!

[2022-01-19 16:48] johnnyq commented on #300
I see what you mean. We'll open this as a bug and see if we can fix this Thank you for reporting

[2022-01-19 17:36] johnnyq commented on #300
Working on the PDF, also there are other places this may need fixed will comb through the code

[2022-01-19 18:07] Wikiphil opened #302 "On New Ticket: Add the asset field"
Can we add the Asset field in the ticket open windows?

![new-ticket](https://user-images.githubusercontent.com/84292480/150188411-d5d2007f-b9d0-440d-bc25-294a73ac9e53.png)

We have to open the ticket to choose the asset after creation

![edit-ticket](https://user-images.githubusercontent.com/84292480/150188612-7cfabbec-dc19-4c5e-866f-e2b0e6d3da5d.png)

[2022-01-19 18:09] Wikiphil commented on #295
No, not sure about locale issue. I'll try on another environment. US with Edge US.  I let you know.

[2022-01-19 18:17] Wikiphil commented on #302
When you already are in a Client! :-) From the main screen, it's a bit harder to list all assets.

[2022-01-19 18:26] wrongecho commented on #302
The reason this wasn't added on the ticket creation popup / modal is because the popup then becomes too big with the extra line. The ticket edit has the ticket assigned to box removed on the edit view, so that makes room for it.

We could definitely add it, but it means you then have to scroll a bit for most screens. Open to this, see what Johnny thinks?

Also, I want to add support for multiple a

[2022-01-19 18:31] Wikiphil opened #303 "Ticket default view"
Can we make "Open Tickets" as default view when we click on "Tickets"

![Ticket-default-view](https://user-images.githubusercontent.com/84292480/150192184-a4a190bf-638f-48da-a8aa-3b18ba2db2d3.png)

When the DB will have 1000 tickets closed and few tickets open, I think it will be a better view.

[2022-01-19 18:45] Wikiphil commented on #302
I Understand, Client is already switched by Contact depand on "New Ticket" location.

[2022-01-19 19:28] johnnyq commented on #300
Okay should be fixed now

80355417faca00e62fb0f2f4c6c88fbc8c551dad

We also fixed new line issues for item description and notes for invoices/ Recurring and Quotes

Thank you

[2022-01-19 19:28] #300 closed

[2022-01-19 20:45] wrongecho commented on #275
Can't seem to replicate this. Have you updated since the changes were made?

[2022-01-19 20:57] wrongecho opened #304 "Certificate fetch functionality"
The newly added certificate fetch functionality (#299 / #289) seems to have an issue, and I'm not too sure how to approach it (thanks for the icon btw!).

It seems like we load all of the current existing certificate modals and when adding a new one the javascript is first seeing the existing modals (as they are technically loaded but just hidden?) and grabbing the domain from there. I was only us

[2022-01-19 21:23] aftechro commented on #304
I seen on my end after fetching the cert and save the add_cert_modal, nothing happens. even though the alert message saying certificate was added. The certs added, not listed. not sure if this is mysql vs mariadb thing again

[2022-01-19 21:28] aftechro commented on #303
work in progress on Tickets section. New dashboard to be implemented. Adding few cards.
Stuck with the right sql queries https://github.com/johnnyq/itflow/issues/298

[2022-01-19 21:32] wrongecho commented on #303
@aftechro - I will leave you to this for now in that case.
I'm scratching my head trying to get the filters to work properly (on-hold tickets don't register as open either!!).

[2022-01-19 21:33] wrongecho opened #305 "Time tracking closed tickets"
Closed tickets continue to attempt to time-track
![tt](https://user-images.githubusercontent.com/32306651/150217284-2e84d0af-c9c5-4294-be44-23e7e22734d8.png)

[2022-01-19 21:36] aftechro commented on #298
got this far :d

    //Get Total tickets this unassigned
   $sql_total_tickets_unnassigned = mysqli_query($mysqli,"SELECT COUNT(`ticket_id`) AS total_tickets_unassigned FROM tickets
   WHERE ticket_assigned_to = '0' AND ticket_status = 'open';");
   $row = mysqli_fetch_array($sql_total_tickets_unnassigned);
   $total_tickets_unnassigned = $row['total_tickets_unassigned'];

[2022-01-19 21:38] aftechro commented on #303
yep, once the dashboard takes contour, we can then make sure the functionalities are there and work as should.

[2022-01-19 21:48] aftechro commented on #298
@wrongecho feel free to jump in if you figure out the SQL queries. This is where i`m stuck for the past 2 days, so i need help from anyone that have bit time to look at this, and understands SQL queries better than i do

[2022-01-19 21:55] johnnyq commented on #298
@aftechro your SQL query looks find however we only want to show the numbers based off of the current company selected so like this
$sql_total_tickets_unnassigned = mysqli_query($mysqli,"SELECT COUNT(`ticket_id`) AS total_tickets_unassigned FROM tickets
WHERE ticket_assigned_to = '0' AND ticket_status = 'open' AND company_id = $session_company_id");

if you don't include AND company_id = $session_

[2022-01-19 21:59] johnnyq commented on #298
for the echo statement just use `echo $total_tickets_unassigned`

the number_format() function is to define decimal points etc

[2022-01-19 22:01] aftechro commented on #298
Hey @johnnyq, that`s great. I didnt considered the session_company_id as i only have one company on my end as MSP, but you are right, for those who using multiple companies, make sense.

echo statement is fine

for the past 2 days i was on internet trying to get those SQL for counting by date (today, yesterday, month, last month, year) but couldn't find anything that works

closest i got was below

[2022-01-19 22:07] wrongecho commented on #298
Can possibly take a look over the weekend, am a bit swamped with work right now.. Not to mention every addition I make seems to create two new bugs haha

[2022-01-19 22:08] aftechro commented on #298
@wrongecho, @johnnyq and everyone else... there`s a saying...."if you are not failing, your not succeeding" so let`s fail as much as we can in order to succeed big time :D

[2022-01-19 22:15] johnnyq commented on #305
Ill see if I can tackle this one

[2022-01-19 22:18] johnnyq commented on #305
I think that should do it Ill monitor the Web Debug Console

[2022-01-19 22:21] wrongecho commented on #305
Thanks :)
I only noticed it as my browser started to grind to a halt and the power usage went through the roof for it in task manager.

[2022-01-19 22:22] johnnyq commented on #305
lol nice notice!! =]

[2022-01-19 22:25] johnnyq commented on #304
Ill take a peek here

[2022-01-20 00:23] johnnyq commented on #305
Closing this off

[2022-01-20 00:23] #305 closed

[2022-01-20 03:25] Wikiphil opened #306 "Assets password displayed by default on Main Assets screen"
Should be great to hide this password too.

![20220119-assets-screen](https://user-images.githubusercontent.com/84292480/150265734-f883d57b-1d32-449e-981c-bdec327b41b9.png)

![20220119-assets-screen-password](https://user-images.githubusercontent.com/84292480/150265747-8cf013b0-0607-4c38-9974-21471948be49.png)

Thanks again.

[2022-01-20 13:36] aftechro commented on #298
getting somewhere, but need further tests
https://www.plus2net.com/sql_tutorial/date-lastweek.php

this week
      SELECT COUNT(`ticket_id`) AS `total_tickets_week` FROM `tickets`WHERE WEEKOFYEAR(`ticket_created_at`)=WEEKOFYEAR(CURDATE())

previous month
SELECT COUNT(`ticket_id`) AS `total_tickets_lastmonth` FROM `tickets` WHERE MONTH( `ticket_created_at` ) = MONTH( DATE_SUB(CURDATE(),INTERVAL 1 M

[2022-01-21 06:39] crnbezuidenhout opened #309 "Upgrade & Restore"
Good Day All,

I wanted to test a upgrade as I'm not sure if the update function works completely. So I have created a backup... I then created a fresh install and didn't seem to find a restore option via the setup menu or via the settings menu.

I then restored the SQL DB, it did restore all clients, but all info ( test invoices, quotes, documents, files, tickets, assets... ) was missing, only th

[2022-01-21 19:39] wrongecho commented on #309
Hey,

You can think of updates in terms of the files and the database structure.

So as far as I know, the upgrade functionality in settings essentially just runs a `git pull` and updates the files. This is fine for _most_ updates.

Some updates modify the database structure. **I don't think this has really been factored in at the moment - there is no easy automatic way to update**. The good news

[2022-01-21 19:45] wrongecho commented on #302
Added this via #307.

[2022-01-21 19:45] #302 closed

[2022-01-21 19:49] wrongecho opened #310 "Scheduled Tickets Management menu"
Added basic functionality for scheduled tickets in #254.

Need to add a menu to administer (update/delete) them. _Maybe a separate menu option for it like recurring invoices_.

[2022-01-21 19:51] #220 closed

[2022-01-21 19:55] wrongecho opened #311 "Feature Request: Invoice discount"
Feature Request: the ability to add a discount to an invoice.

_Surprised this hasn't come up already, did a quick search but couldn't see anything._

[2022-01-21 19:59] wrongecho opened #312 "Feature request: Login brute force protection"
Login brute force protection
A few ways we could do this, but by IP address would probably be perfectly fine.
Could possibly use the existing logging - or just track failed login attempts in a new table and check that a particular IP hasn't failed more than X times in the last X mins before progressing the login request.

[2022-01-21 21:15] johnnyq opened #313 "Feature request: Document templates"
The ability to create and reuse common documentation templates
for example a documentation template can be created with a 48 Port Switch Layout Map

On the the top Show the Port Numbers and layout table
and on the bottom show a table of ports and what is plugged in along with notes

Or a template can be created documenting the Active Directory Structure.

etc

[2022-01-21 21:23] johnnyq commented on #309
@wrongecho Well said! @crnbezuidenhout this is about the best solution for now

[2022-01-21 21:24] johnnyq commented on #311
O yeah this is a good one! we could have it be a choice a percent discount or an entered number.

[2022-01-21 21:24] johnnyq commented on #310
I think a separate menu option would be best for this

[2022-01-21 21:26] johnnyq commented on #312
Very good idea! Maybe also have a 30 Min unblock window jsut in case someone really forgot their password

[2022-01-21 21:27] johnnyq opened #314 "Feature request: Export Client Documents to PDF"
Export Client Documents to PDF

[2022-01-21 21:30] johnnyq opened #315 "Feature request: Temp Secure Self Destructing Links"
Basically the way this would work if you wanted to send a client a document under documentation or a password or the whole their whole IT documentation or whatever else. This can be done by creating a secure link to an email. It could self destruct after 30 mins and self destruct after viewed, The view would be logged.

[2022-01-21 22:45] johnnyq commented on #313
d6749337d65e2382e5d4b6d413d0b1e6164057a2

[2022-01-21 22:55] aftechro commented on #315
That`s a great idea!
IT Glue has something similar Public url which can be enabled or disabled as needed, but the url stays there

[2022-01-21 22:59] aftechro commented on #311
dont forget about the credited amount on the client's account as well to be shown on the invoice as Credit and balance it with future invoices

[2022-01-22 02:39] Wikiphil opened #316 "Can't delete attached files in a Client"
Testing purpose, I added some files to a Client. Now, I can't delete it from the view.

![Attached-Files](https://user-images.githubusercontent.com/84292480/150621763-ec2ac3e6-c1ce-474e-9a72-d13780d12a4f.png)

How I delete them?

[2022-01-22 02:55] Wikiphil opened #317 "Feature Request: Software for multiple Assets"
Hi,

From the moment, same software keys can be install on multiple computers.
Example: Microsoft Windows Server "Datacenter". It's good to know which VM run the key!

I don't know yet how to handle this. I think we can choose it from the asset and just display the assets under software instead of having the right to set it.

![software-box](https://user-images.githubusercontent.com/84292480/15062

[2022-01-22 03:32] athornfam2 commented on #221
@wrongecho If it was either added to the repo or on the list to add to 1.0 it's fine to close.

[2022-01-22 16:22] wrongecho commented on #316
When I click on the **X** just to the right of the file name (at the bottom), the file disappears and I get an alert that says "File deleted" - What happens for you?

[2022-01-22 18:15] Wikiphil commented on #316
Hahaha! I didn't the X at the bottom because of the picture itself. It works, but no notification about deletion.

Thanks.

[2022-01-22 18:57] wrongecho commented on #310
Initial - #319

[2022-01-22 21:35] aftechro commented on #317
What IT Glue have is one login related to multiple assets/configurations/websites and so on
for instance, volume license login - pc1, pc2 and so one

so i would recommend to have the same, related items (for the login section) and/or embedded passwords (for assets section) - and choose from existing assets/passwords list

Passwords - with related items
![image](https://user-images.githubuserconten

[2022-01-23 00:22] Wikiphil commented on #317
I agree! :-)

[2022-01-23 00:22] #316 closed

[2022-01-23 00:26] Wikiphil commented on #315
In the past, I used something called self-destruct-o

[2022-01-23 01:14] Wikiphil opened #321 "Security between role views"
Hi,

I'm testing the roles and views associated with them. I discovered we can access pages that is not in a role.

Example: IT Contractor is not able to view Accounting or Sales sections. (I know there is dev on dashboard, so I didn't include that).

![20220122-role-view1](https://user-images.githubusercontent.com/84292480/150660724-4938f68f-55db-4fb1-ac81-54c7db4d2b86.png)

If the user know ITFl

[2022-01-23 01:39] Wikiphil commented on #295
I've tested on Windows Server 2019  with Edge latest version: same issue.

![20220122-date1](https://user-images.githubusercontent.com/84292480/150661234-38bd1716-dbbe-4946-8838-a7c08eab66a0.png)

Edge is configured en-US
![20220122-date2](https://user-images.githubusercontent.com/84292480/150661235-87b281ba-eec4-4d04-af2d-bf74be4f3458.png)

Windows is configured en-US too
![20220122-date3](https:

[2022-01-23 01:45] Wikiphil commented on #295
May be I have solution for this issue: CSS controled fields.

When there is no limit on the date fields, I'm able to enter 6 digits year

![20220122-date4](https://user-images.githubusercontent.com/84292480/150661345-583a16f5-cc82-4e8c-847a-68165093eafb.png)

If I put limit on it, it works as excepted.

![20220122-date5](https://user-images.githubusercontent.com/84292480/150661355-1a40239b-0c71-40

[2022-01-23 04:58] johnnyq commented on #321
@Wikiphil This is true for now roles only hide things like Menus. We are working on adding role checks on each module. This will take quite a bit of time to implement and test, ill keep this open for tracking.

[2022-01-23 12:27] wrongecho opened #322 "Feature Request: Services"
So I know we track multiple asset types (assets themselves, logins, domains, etc) which is great but I think what truly makes a good documentation system is the ability to tie all that together - "Services".

A "Service" would be something like Active Directory, a web app, etc.
Attributes:
- Name
- Description
- Category
- Importance
- Notes

Linked/Related to:
- Asset(s) / Login(s)
- Vendor (if a

[2022-01-23 15:14] johnnyq commented on #322
This is idea is great! and it really does tie everything in real nice from the example screenshots! I'd deff say go for it. I really like the idea.

[2022-01-23 15:57] wrongecho opened #323 "Feature request: Client overview page"
I can see it's in the client routes, but wanted to formally request a client overview page as the initial client page.

This could include details like:
- Client brief overview (what they do, etc)
- Quick notes
- Recently updated records
- Primary contact(s)
- Upcoming expirations

[2022-01-23 16:04] Wikiphil commented on #321
Good. If need someone to test, let me know.

[2022-01-23 16:10] johnnyq commented on #321
@Wikiphil Always need someone to test =]

[2022-01-23 16:17] johnnyq opened #324 "Cleanup: File Structure Renaming"
For Tracking

Rename Files to meet a better structure hierarchy allow for easier development and organization

This organizes the **entity** with it's **functions** so when working with an entity you don't have to scroll through the file structure to find all the functions based off that entity when developing.

Renaming examples.
- add_user_modal.php ---> user_add_modal.php
- edit_user_modal.php

[2022-01-23 16:23] johnnyq commented on #323
This was on my list for awhile and would be a fantastic addition

[2022-01-23 18:49] Wikiphil opened #325 "Feature request: Quote add items"
In the quote, actually we have to type down everything. Instead of having a blank line and fill all fields, can we have a button "Add item"? It will open a box, from there we can have the option to choose to fill the form or choose from the global product list?

![20220123-quote1](https://user-images.githubusercontent.com/84292480/150693329-8890976f-203d-41ce-a36c-6496f08fec2b.png)

At this moment

[2022-01-23 18:53] Wikiphil commented on #325
As well, pre-configure Description, Price and Tax fields from products tables.

Do not make link between tables, just take the content on the products table to populate the fields in the quote.

[2022-01-23 18:56] wrongecho commented on #325
Heyy,
I'm not sure exactly what you mean. You can already choose items from the product list - I added this recently in #291! If you type the first couple of characters of a product name you can click and it'll fill in/complete the details.

![quote-auto-type](https://user-images.githubusercontent.com/32306651/150693474-6a1056ea-b5b6-406f-a01e-fc4ce3c3793f.png)

Or do you mean something else?

[2022-01-23 18:59] Wikiphil commented on #324
Hi Johnny,

Is there a diagram somewhere showing relation between files and SQL Tables? And wich files refer/use other files?

[2022-01-23 19:11] Wikiphil commented on #325
Ok, Browser Auto-completion makes me crazy! Most of the users will have it enabled.

![20220123-quote2](https://user-images.githubusercontent.com/84292480/150694063-a63027fb-f375-4261-b755-2c7ffde53a36.png)

Tax is not selected

![20220123-quote3](https://user-images.githubusercontent.com/84292480/150694151-dfdf0a99-bdb9-4018-940c-ce3882a70ee9.png)

But, good job! I didn't see this auto-completion

[2022-01-23 19:18] wrongecho commented on #325
Glad you found it!

Yeah, tax isn't stored in the products table in an easily usable way so I haven't added it for the moment. It's stored referencing the tax ID rather than the tax % itself (in a separate table).
We might be able to add tax eventually - it's just an extra query that has to be called and then formatted into JSON nicely along with the rest of the data for jQuery to fill the form pr

[2022-01-23 19:56] Wikiphil commented on #325
Feel free to close this issue if you want.

Thanks.

[2022-01-23 21:44] johnnyq commented on #324
No nothing like that, although a DB Structure Relation Diagram would be nice. I think PHPmyAdmin can do this.

[2022-01-23 22:05] johnnyq commented on #325
Closing Thank @wrongecho

[2022-01-23 22:05] #325 closed

[2022-01-23 22:31] wrongecho commented on #321
I think we could use a high level matrix of the access levels / roles and the allowed access to modules. Not sure if this is defined or documented anywhere outside of just hiding menus?

Just a reminder here we'd need to be validating the correct access level on both the access to pages and to post.php (i.e right now anyone can delete anything using the correct post.php GET params).

[2022-01-23 22:34] johnnyq commented on #321
yes this is true too. So knowing this only add trusted users for now. Although another we do checks on post.php for company_id so we do have some company segregation.

[2022-01-24 04:09] johnnyq commented on #306
ill nail this one out

[2022-01-24 04:11] johnnyq commented on #295
that sounds like a plan, I will implement that. Im not quite sure whats different from my setup and yours, that may be causing this super weird but ill apply your fix thank you

[2022-01-24 04:12] johnnyq commented on #298
Nice Work @aftechro keep up the good work

[2022-01-24 04:17] johnnyq commented on #312
Works great so far! @wrongecho

[2022-01-24 04:18] johnnyq commented on #310
This is going to be great. We test client backups once every quarter this would be fantastic reminder for that. Thank you

[2022-01-24 04:19] johnnyq commented on #311
Credit and Discounts Ill take on this one assigning to me

[2022-01-24 04:21] johnnyq commented on #275
closing cant replicate either

[2022-01-24 04:21] #275 closed

[2022-01-24 04:23] johnnyq commented on #219
This is fixed closing this Thanks

[2022-01-24 04:23] #219 closed

[2022-01-24 04:24] johnnyq commented on #156
This is being done! closing for now

[2022-01-24 04:24] #156 closed

[2022-01-24 04:27] johnnyq commented on #164
I think this will just be a link to invoice to a ticket for further reference

[2022-01-24 21:11] wrongecho commented on #322
This is where I'm up to at the moment on the backend and displaying the data..
![Untitled](https://user-images.githubusercontent.com/32306651/150865239-b6c44951-d6e7-4abe-9794-57c4de55596a.png)

I've added commented out certificates, backup and services as "coming soon".
- For certificates, I think these would really only be linked via a domain rather than linked by themselves. We can do both thro

[2022-01-25 19:04] johnnyq opened #327 "Feature: Show locations phone numbers as an option hint when adding contact phones"
This is nice if contacts share the same main phone number so it saves retyping the phone number each time you add a contact and you can just add their extension.

[2022-01-27 18:34] crnbezuidenhout opened #328 "Client Access"
Good Day All,

What is the purpose of the client access option under the users page?

- is it for the client to gain access to their information and spending?

![image](https://user-images.githubusercontent.com/97749452/151420714-875b2e5b-6bd7-49e5-8d94-0613d9692d88.png)

- if so, I have created a test account with the client roll, the client is able to access his/her page yes, but also able to se

[2022-01-27 19:04] wrongecho commented on #328
This feels related to #321

[2022-01-27 19:09] crnbezuidenhout commented on #328
Hi yes, its the same, didn't notice that it was already raised...

Thanks 😊 and Great work thus far...

On Thu, Jan 27, 2022, 9:04 PM wrongecho ***@***.***> wrote:

[2022-01-27 19:16] wrongecho commented on #328
No worries! :)

If you do notice any bugs/issues/requests that haven't yet been raised, please do raise an issue! Just be mindful that this is being built in peoples free time so there's little guarantee as to when things will actually get fixed/added :)

[2022-01-27 19:16] #328 closed

[2022-01-29 12:07] wrongecho commented on #322
This has been provisionally implemented.
It is currently missing some features such as the linking of certificates, files, and URLs. These are to be added at a later date.

@johnnyq - In terms of URLs - do you think one URL per service is sufficient (stored in the services table along with the service name, desc, etc) or should we be able to link multiple URLs for each service (service_urls table)

[2022-01-29 12:09] #312 closed

[2022-01-29 15:40] johnnyq commented on #322
1. For Certificates: I would say both
2. I think backup should be its own varchar field within services which as you said can link back to a document called backup with more details on the backup.
3. URLs - I think we could pull these from client_logins would be sufficient

[2022-01-29 16:07] Wikiphil opened #331 "DB update after git pull: example Certificate management"
I've updated my directory with git pull. Great.

Now seaking for new features or bugs. I know my MariaDB is not up to date even if it says "Congratulations you are up to date!" under "Update" tab in Settings.

In certificates Table, there is a new column called "certificate_domain_id" that is not in my current Database.
![20220129-SQL-DB sql-file](https://user-images.githubusercontent.com/84292480

[2022-01-29 16:11] Wikiphil commented on #331
At the same time, there is a error logged in Apache Error logs:

[Sat Jan 29 15:56:25.753221 2022] [php7:notice] [pid 338757] [client 10.250.10.90:56120] PHP Notice:  Undefined index: certificate_domain_id in /var/www/html/client_certificates.php on line 103, referer: https://itflow1.xxxxxxxxx.ca/client.php?client_id=2&tab=certificates
sh: 1: gitrev-parse: not found

This is where I noticed the mi

[2022-01-29 16:36] wrongecho commented on #331
Hey!

I don't think the database structure updater actually works at the moment.. You're correct - I added a new column so we can link the certificate to a domain.

Looks like you're using phpMyAdmin so should be easy.
- Open the Certificates table
- Click Structure
- Select "Add 1 column after certificate_archived_at" (what column it is after doesn't actually matter) and hit Go
  -  For name put

[2022-01-29 16:36] johnnyq commented on #331
Hi @Wikiphil DB Structure does not get updated with ITFlow update, you will have to add fields manually for now. Keep an eye out for the db.sql file to change

[2022-01-29 17:48] ugintl opened #332 "Itflow Use cases"
I request users to share different use cases of itflow. It will make easier for people to decide whether it is right for them or not or in what ways it can benefit. Thanks

[2022-01-29 18:19] wrongecho commented on #332
Hello, @ugintl!

I think the general use case for ITFlow is that you're the owner of an IT Managed Service provider and need a tool to help manage your work. ITFlow allows you to track all your client's information (people, assets, documentation, finances, etc.) in one place.

Alternatively, you could probably use this for an internal IT department. You'd just add your company as the only client a

[2022-01-29 19:00] Wikiphil commented on #331
Ok, it fixes the error on certificates screen.

Thanks